body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1920px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u3922 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:900px;
}
#u3922_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:900px;
}
#u3922_ref {
  border-width:0px;
  position:absolute;
  left:1912px;
  top:890px;
  width:1px;
  height:1px;
}
#u3923 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3924_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:900px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.4980392156862745);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
}
#u3924 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:900px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
}
#u3924 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3924_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3925 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3926_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:482px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u3926 {
  border-width:0px;
  position:absolute;
  left:760px;
  top:218px;
  width:400px;
  height:482px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u3926 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3926_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3927_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
}
#u3927 {
  border-width:0px;
  position:absolute;
  left:770px;
  top:433px;
  width:69px;
  height:14px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
}
#u3927 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3927_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3928_input {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:30px;
  padding:2px 2px 2px 10px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#6B6B6B;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u3928_input.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:30px;
  padding:2px 2px 2px 10px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u3928_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:30px;
  padding:2px 2px 2px 10px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#6B6B6B;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u3928_input.hint.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:30px;
  padding:2px 2px 2px 10px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u3928_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:#6B6B6B;
}
#u3928 {
  border-width:0px;
  position:absolute;
  left:770px;
  top:453px;
  width:380px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#6B6B6B;
}
#u3928 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u3928_div.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:#6B6B6B;
}
#u3928.hint {
}
#u3928_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:30px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:#6B6B6B;
}
#u3928.disabled {
}
#u3928_div.hint.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:30px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:#6B6B6B;
}
#u3928.hint.disabled {
}
#u3929_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
}
#u3929 {
  border-width:0px;
  position:absolute;
  left:770px;
  top:496px;
  width:69px;
  height:14px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
}
#u3929 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3929_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3930_input {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:150px;
  padding:10px 2px 2px 10px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#7F7F7F;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
  resize:none;
}
#u3930_input.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:150px;
  padding:10px 2px 2px 10px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
  resize:none;
}
#u3930_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:150px;
  padding:10px 2px 2px 10px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#7F7F7F;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
  resize:none;
}
#u3930_input.hint.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:150px;
  padding:10px 2px 2px 10px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
  resize:none;
}
#u3930_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:150px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u3930 {
  border-width:0px;
  position:absolute;
  left:770px;
  top:517px;
  width:380px;
  height:150px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u3930 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u3930_div.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:150px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u3930.hint {
}
#u3930_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:150px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u3930.disabled {
}
#u3930_div.hint.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:150px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u3930.hint.disabled {
}
#u3931_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u3931 {
  border-width:0px;
  position:absolute;
  left:760px;
  top:680px;
  width:400px;
  height:50px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u3931 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3931_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3932 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3933_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
  background:inherit;
  background-color:rgba(24, 144, 255, 1);
  border-radius:2px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
}
#u3933 {
  border-width:0px;
  position:absolute;
  left:1080px;
  top:690px;
  width:70px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
}
#u3933 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3933_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3934_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
  background:inherit;
  background-color:rgba(188, 188, 188, 1);
  border-radius:2px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
}
#u3934 {
  border-width:0px;
  position:absolute;
  left:1000px;
  top:690px;
  width:70px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
}
#u3934 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3934_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3935_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  color:#000333;
}
#u3935 {
  border-width:0px;
  position:absolute;
  left:894px;
  top:280px;
  width:135px;
  height:14px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
  color:#000333;
}
#u3935 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3935_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3936_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:50px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  color:#7F7F7F;
}
#u3936 {
  border-width:0px;
  position:absolute;
  left:910px;
  top:170px;
  width:100px;
  height:100px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
  color:#7F7F7F;
}
#u3936 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3936_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3937 {
  border-width:0px;
  position:absolute;
  left:770px;
  top:303px;
  width:380px;
  height:120px;
}
#u3938 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:30px;
  display:flex;
  transition:none;
  font-size:12px;
  text-align:left;
}
#u3938 .text {
  position:absolute;
  align-self:center;
  padding:2px 10px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u3938_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:30px;
}
#u3938_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3939 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:0px;
  width:190px;
  height:30px;
  display:flex;
  transition:none;
  font-size:12px;
  text-align:left;
}
#u3939 .text {
  position:absolute;
  align-self:center;
  padding:2px 10px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u3939_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:30px;
}
#u3939_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3940 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:190px;
  height:30px;
  display:flex;
  transition:none;
  font-size:12px;
  text-align:left;
}
#u3940 .text {
  position:absolute;
  align-self:center;
  padding:2px 10px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u3940_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:30px;
}
#u3940_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3941 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:30px;
  width:190px;
  height:30px;
  display:flex;
  transition:none;
  font-size:12px;
  text-align:left;
}
#u3941 .text {
  position:absolute;
  align-self:center;
  padding:2px 10px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u3941_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:30px;
}
#u3941_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3942 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:190px;
  height:30px;
  display:flex;
  transition:none;
  font-size:12px;
  text-align:left;
}
#u3942 .text {
  position:absolute;
  align-self:center;
  padding:2px 10px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u3942_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:30px;
}
#u3942_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3943 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:60px;
  width:190px;
  height:30px;
  display:flex;
  transition:none;
  font-size:12px;
  text-align:left;
}
#u3943 .text {
  position:absolute;
  align-self:center;
  padding:2px 10px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u3943_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:30px;
}
#u3943_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3944 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:90px;
  width:190px;
  height:30px;
  display:flex;
  transition:none;
  font-size:12px;
  text-align:left;
}
#u3944 .text {
  position:absolute;
  align-self:center;
  padding:2px 10px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u3944_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:30px;
}
#u3944_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3945 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:90px;
  width:190px;
  height:30px;
  display:flex;
  transition:none;
  font-size:12px;
  text-align:left;
}
#u3945 .text {
  position:absolute;
  align-self:center;
  padding:2px 10px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u3945_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:30px;
}
#u3945_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
