body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1920px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u8893 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:900px;
}
#u8893_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:900px;
}
#u8893_ref {
  border-width:0px;
  position:absolute;
  left:1912px;
  top:890px;
  width:1px;
  height:1px;
}
#u8894_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:900px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.4980392156862745);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
}
#u8894 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:900px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
}
#u8894 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8894_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8895 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8896 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8897_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:560px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u8897 {
  border-width:0px;
  position:absolute;
  left:750px;
  top:170px;
  width:420px;
  height:560px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u8897 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8897_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8898 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8899_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u8899 {
  border-width:0px;
  position:absolute;
  left:770px;
  top:188px;
  width:64px;
  height:18px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u8899 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8899_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8900 {
  border-width:0px;
  position:absolute;
  left:750px;
  top:220px;
  width:420px;
  height:1px;
  display:flex;
  transition:none;
}
#u8900 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8900_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:2px;
}
#u8900_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8901 {
  border-width:0px;
  position:absolute;
  left:1134px;
  top:189px;
  width:16px;
  height:16px;
  display:flex;
  transition:none;
}
#u8901 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8901_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u8901_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8902 {
  border-width:0px;
  position:absolute;
  left:750px;
  top:221px;
  width:420px;
  height:150px;
}
#u8902_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:150px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8902_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u8903 {
  border-width:0px;
  position:absolute;
  left:-603px;
  top:-270px;
  width:2232px;
  height:1239px;
  display:flex;
  transition:none;
}
#u8903 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8903_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2232px;
  height:1239px;
}
#u8903_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8904 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8905_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:30px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border-radius:30px;
  filter:drop-shadow(none);
  transition:none;
}
#u8905 {
  border-width:0px;
  position:absolute;
  left:944px;
  top:271px;
  width:32px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u8905 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8905_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8906 {
  border-width:0px;
  position:absolute;
  left:951px;
  top:278px;
  width:16px;
  height:16px;
  display:flex;
  transition:none;
}
#u8906 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8906_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u8906_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8907 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8908_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:378px;
  height:310px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:8px;
  filter:drop-shadow(0px 3px 2.5px rgba(0, 0, 0, 0.34901960784313724));
  transition:none;
  font-size:16px;
  color:#7F7F7F;
}
#u8908 {
  border-width:0px;
  position:absolute;
  left:770px;
  top:340px;
  width:378px;
  height:310px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:16px;
  color:#7F7F7F;
}
#u8908 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8908_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8909 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8910 {
  border-width:0px;
  position:absolute;
  left:786px;
  top:350px;
  width:40px;
  height:40px;
  display:flex;
  transition:none;
}
#u8910 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8910_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u8910_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8911 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8912_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border-radius:30px;
  filter:drop-shadow(none);
  transition:none;
}
#u8912 {
  border-width:0px;
  position:absolute;
  left:791px;
  top:355px;
  width:30px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u8912 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8912_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8913 {
  border-width:0px;
  position:absolute;
  left:798px;
  top:362px;
  width:16px;
  height:16px;
  display:flex;
  transition:none;
}
#u8913 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8913_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u8913_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8914_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:13px;
  letter-spacing:1px;
  line-height:18px;
}
#u8914 {
  border-width:0px;
  position:absolute;
  left:780px;
  top:412px;
  width:358px;
  height:36px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:13px;
  letter-spacing:1px;
  line-height:18px;
}
#u8914 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8914_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8915_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  color:#7F7F7F;
}
#u8915 {
  border-width:0px;
  position:absolute;
  left:930px;
  top:610px;
  width:67px;
  height:14px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
  color:#7F7F7F;
}
#u8915 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8915_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8916 {
  border-width:0px;
  position:absolute;
  left:770px;
  top:400px;
  width:378px;
  height:1px;
  display:flex;
  transition:none;
}
#u8916 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8916_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:2px;
}
#u8916_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8917_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:16px;
}
#u8917 {
  border-width:0px;
  position:absolute;
  left:845px;
  top:361px;
  width:144px;
  height:18px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:16px;
}
#u8917 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8917_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8918_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(213, 213, 213, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:150px;
  filter:drop-shadow(none);
  transition:none;
  font-size:11px;
}
#u8918 {
  border-width:0px;
  position:absolute;
  left:780px;
  top:602px;
  width:30px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:11px;
}
#u8918 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8918_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8919_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  color:#555555;
}
#u8919 {
  border-width:0px;
  position:absolute;
  left:818px;
  top:610px;
  width:107px;
  height:14px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
  color:#555555;
}
#u8919 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8919_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8920_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:136px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u8920 {
  border-width:0px;
  position:absolute;
  left:780px;
  top:456px;
  width:114px;
  height:136px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u8920 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8920_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8921 {
  border-width:0px;
  position:absolute;
  left:821px;
  top:508px;
  width:32px;
  height:32px;
  display:flex;
  transition:none;
}
#u8921 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8921_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u8921_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8922_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  color:#7F7F7F;
}
#u8922 {
  border-width:0px;
  position:absolute;
  left:931px;
  top:674px;
  width:58px;
  height:14px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
  color:#7F7F7F;
}
#u8922 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8922_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8923 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8924_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:900px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.4980392156862745);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
}
#u8924 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:900px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
}
#u8924 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8924_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8925 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8926_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:664px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u8926 {
  border-width:0px;
  position:absolute;
  left:760px;
  top:118px;
  width:400px;
  height:664px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u8926 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8926_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8927 {
  border-width:0px;
  position:absolute;
  left:1165px;
  top:90px;
  width:26px;
  height:26px;
  display:flex;
  transition:none;
}
#u8927 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8927_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u8927_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8928 {
  border-width:0px;
  position:absolute;
  left:656px;
  top:398px;
  width:64px;
  height:64px;
  display:flex;
  transition:none;
}
#u8928 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8928_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
}
#u8928_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8929 {
  border-width:0px;
  position:absolute;
  left:1196px;
  top:398px;
  width:64px;
  height:64px;
  display:flex;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  transition:none;
}
#u8929 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8929_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
}
#u8929_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
