body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1920px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u8857 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:900px;
}
#u8857_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:900px;
}
#u8857_ref {
  border-width:0px;
  position:absolute;
  left:1912px;
  top:890px;
  width:1px;
  height:1px;
}
#u8858_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:900px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.4980392156862745);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
}
#u8858 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:900px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
}
#u8858 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8858_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8859 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8860 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8861_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:560px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u8861 {
  border-width:0px;
  position:absolute;
  left:750px;
  top:170px;
  width:420px;
  height:560px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u8861 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8861_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8862 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8863_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u8863 {
  border-width:0px;
  position:absolute;
  left:770px;
  top:188px;
  width:64px;
  height:18px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u8863 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8863_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8864 {
  border-width:0px;
  position:absolute;
  left:750px;
  top:220px;
  width:420px;
  height:1px;
  display:flex;
  transition:none;
}
#u8864 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8864_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:2px;
}
#u8864_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8865 {
  border-width:0px;
  position:absolute;
  left:1134px;
  top:189px;
  width:16px;
  height:16px;
  display:flex;
  transition:none;
}
#u8865 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8865_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u8865_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8866 {
  border-width:0px;
  position:absolute;
  left:750px;
  top:221px;
  width:420px;
  height:150px;
}
#u8866_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:150px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8866_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u8867 {
  border-width:0px;
  position:absolute;
  left:-603px;
  top:-270px;
  width:2232px;
  height:1239px;
  display:flex;
  transition:none;
}
#u8867 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8867_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2232px;
  height:1239px;
}
#u8867_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8868 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8869_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:30px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border-radius:30px;
  filter:drop-shadow(none);
  transition:none;
}
#u8869 {
  border-width:0px;
  position:absolute;
  left:944px;
  top:271px;
  width:32px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u8869 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8869_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8870 {
  border-width:0px;
  position:absolute;
  left:951px;
  top:278px;
  width:16px;
  height:16px;
  display:flex;
  transition:none;
}
#u8870 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8870_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u8870_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8871 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8872_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:378px;
  height:310px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:8px;
  filter:drop-shadow(0px 3px 2.5px rgba(0, 0, 0, 0.34901960784313724));
  transition:none;
  font-size:16px;
  color:#7F7F7F;
}
#u8872 {
  border-width:0px;
  position:absolute;
  left:770px;
  top:340px;
  width:378px;
  height:310px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:16px;
  color:#7F7F7F;
}
#u8872 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8872_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8873 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8874 {
  border-width:0px;
  position:absolute;
  left:786px;
  top:350px;
  width:40px;
  height:40px;
  display:flex;
  transition:none;
}
#u8874 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8874_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u8874_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8875 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8876_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border-radius:30px;
  filter:drop-shadow(none);
  transition:none;
}
#u8876 {
  border-width:0px;
  position:absolute;
  left:791px;
  top:355px;
  width:30px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u8876 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8876_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8877 {
  border-width:0px;
  position:absolute;
  left:798px;
  top:362px;
  width:16px;
  height:16px;
  display:flex;
  transition:none;
}
#u8877 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8877_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u8877_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8878_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:13px;
  letter-spacing:1px;
  line-height:18px;
}
#u8878 {
  border-width:0px;
  position:absolute;
  left:780px;
  top:412px;
  width:358px;
  height:36px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:13px;
  letter-spacing:1px;
  line-height:18px;
}
#u8878 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8878_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8879_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  color:#7F7F7F;
}
#u8879 {
  border-width:0px;
  position:absolute;
  left:930px;
  top:610px;
  width:67px;
  height:14px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
  color:#7F7F7F;
}
#u8879 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8879_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8880 {
  border-width:0px;
  position:absolute;
  left:770px;
  top:400px;
  width:378px;
  height:1px;
  display:flex;
  transition:none;
}
#u8880 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8880_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:2px;
}
#u8880_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8881_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:16px;
}
#u8881 {
  border-width:0px;
  position:absolute;
  left:845px;
  top:361px;
  width:144px;
  height:18px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:16px;
}
#u8881 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8881_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8882_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(213, 213, 213, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:150px;
  filter:drop-shadow(none);
  transition:none;
  font-size:11px;
}
#u8882 {
  border-width:0px;
  position:absolute;
  left:780px;
  top:602px;
  width:30px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:11px;
}
#u8882 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8882_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8883_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  color:#555555;
}
#u8883 {
  border-width:0px;
  position:absolute;
  left:818px;
  top:610px;
  width:107px;
  height:14px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
  color:#555555;
}
#u8883 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8883_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8884_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:136px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u8884 {
  border-width:0px;
  position:absolute;
  left:780px;
  top:456px;
  width:114px;
  height:136px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u8884 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8884_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8885 {
  border-width:0px;
  position:absolute;
  left:821px;
  top:508px;
  width:32px;
  height:32px;
  display:flex;
  transition:none;
}
#u8885 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8885_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u8885_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8886_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  color:#7F7F7F;
}
#u8886 {
  border-width:0px;
  position:absolute;
  left:931px;
  top:674px;
  width:58px;
  height:14px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
  color:#7F7F7F;
}
#u8886 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8886_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8887 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8888_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:900px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.4980392156862745);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
}
#u8888 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:900px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
}
#u8888 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8888_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8889 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8890_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:664px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u8890 {
  border-width:0px;
  position:absolute;
  left:760px;
  top:118px;
  width:400px;
  height:664px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u8890 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8890_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8891 {
  border-width:0px;
  position:absolute;
  left:944px;
  top:434px;
  width:32px;
  height:32px;
  display:flex;
  transition:none;
}
#u8891 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8891_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u8891_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8892 {
  border-width:0px;
  position:absolute;
  left:1165px;
  top:90px;
  width:26px;
  height:26px;
  display:flex;
  transition:none;
}
#u8892 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8892_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u8892_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
