body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1920px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u12768 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1330px;
}
#u12768_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1330px;
}
#u12768_ref {
  border-width:0px;
  position:absolute;
  left:1912px;
  top:1320px;
  width:1px;
  height:1px;
}
#u12769 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12770_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:900px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.4980392156862745);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
}
#u12770 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:900px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
}
#u12770 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12770_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12771 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12772_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:600px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u12772 {
  border-width:0px;
  position:absolute;
  left:640px;
  top:148px;
  width:640px;
  height:600px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u12772 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12772_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12773 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12774_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u12774 {
  border-width:0px;
  position:absolute;
  left:660px;
  top:166px;
  width:32px;
  height:18px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u12774 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12774_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u12775 {
  border-width:0px;
  position:absolute;
  left:640px;
  top:198px;
  width:640px;
  height:1px;
  display:flex;
  transition:none;
}
#u12775 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12775_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:641px;
  height:2px;
}
#u12775_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12776 {
  border-width:0px;
  position:absolute;
  left:1244px;
  top:167px;
  width:16px;
  height:16px;
  display:flex;
  transition:none;
}
#u12776 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12776_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u12776_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12777_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  color:#6B6B6B;
}
#u12777 {
  border-width:0px;
  position:absolute;
  left:660px;
  top:415px;
  width:60px;
  height:14px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
  color:#6B6B6B;
}
#u12777 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12777_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u12778_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u12778 {
  border-width:0px;
  position:absolute;
  left:730px;
  top:415px;
  width:80px;
  height:80px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u12778 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12778_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12779_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u12779 {
  border-width:0px;
  position:absolute;
  left:820px;
  top:415px;
  width:80px;
  height:80px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u12779 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12779_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12780_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u12780 {
  border-width:0px;
  position:absolute;
  left:910px;
  top:415px;
  width:80px;
  height:80px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u12780 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12780_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12781_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u12781 {
  border-width:0px;
  position:absolute;
  left:1000px;
  top:415px;
  width:80px;
  height:80px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u12781 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12781_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12782_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u12782 {
  border-width:0px;
  position:absolute;
  left:1090px;
  top:415px;
  width:80px;
  height:80px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u12782 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12782_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12783_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u12783 {
  border-width:0px;
  position:absolute;
  left:1180px;
  top:415px;
  width:80px;
  height:80px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u12783 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12783_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12784_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  color:#6B6B6B;
}
#u12784 {
  border-width:0px;
  position:absolute;
  left:660px;
  top:269px;
  width:60px;
  height:14px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
  color:#6B6B6B;
}
#u12784 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12784_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u12785 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12786_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u12786 {
  border-width:0px;
  position:absolute;
  left:640px;
  top:702px;
  width:640px;
  height:50px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u12786 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12786_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12787 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12788_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
  background:inherit;
  background-color:rgba(24, 144, 255, 1);
  border-radius:2px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
}
#u12788 {
  border-width:0px;
  position:absolute;
  left:1190px;
  top:712px;
  width:70px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
}
#u12788 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12788_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12789_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
  background:inherit;
  background-color:rgba(188, 188, 188, 1);
  border-radius:2px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
}
#u12789 {
  border-width:0px;
  position:absolute;
  left:1110px;
  top:712px;
  width:70px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
}
#u12789 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12789_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12790_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  color:#6B6B6B;
}
#u12790 {
  border-width:0px;
  position:absolute;
  left:660px;
  top:533px;
  width:41px;
  height:14px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
  color:#6B6B6B;
}
#u12790 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12790_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u12791_input {
  position:absolute;
  left:0px;
  top:0px;
  width:530px;
  height:150px;
  padding:10px 2px 2px 10px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#7F7F7F;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
  resize:none;
}
#u12791_input.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:530px;
  height:150px;
  padding:10px 2px 2px 10px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
  resize:none;
}
#u12791_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:530px;
  height:150px;
  padding:10px 2px 2px 10px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#7F7F7F;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
  resize:none;
}
#u12791_input.hint.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:530px;
  height:150px;
  padding:10px 2px 2px 10px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
  resize:none;
}
#u12791_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:530px;
  height:150px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u12791 {
  border-width:0px;
  position:absolute;
  left:730px;
  top:533px;
  width:530px;
  height:150px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u12791 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u12791_div.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:530px;
  height:150px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u12791.hint {
}
#u12791_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:530px;
  height:150px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u12791.disabled {
}
#u12791_div.hint.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:530px;
  height:150px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u12791.hint.disabled {
}
#u12792_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  color:#6B6B6B;
}
#u12792 {
  border-width:0px;
  position:absolute;
  left:659px;
  top:219px;
  width:60px;
  height:14px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
  color:#6B6B6B;
}
#u12792 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12792_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u12793_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  color:#6B6B6B;
}
#u12793 {
  border-width:0px;
  position:absolute;
  left:659px;
  top:243px;
  width:60px;
  height:14px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
  color:#6B6B6B;
}
#u12793 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12793_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u12794_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:530px;
  height:140px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  line-height:20px;
}
#u12794 {
  border-width:0px;
  position:absolute;
  left:730px;
  top:265px;
  width:530px;
  height:140px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
  line-height:20px;
}
#u12794 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12794_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12795_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  text-align:center;
}
#u12795 {
  border-width:0px;
  position:absolute;
  left:730px;
  top:243px;
  width:72px;
  height:14px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
  text-align:center;
}
#u12795 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12795_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u12796_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
}
#u12796 {
  border-width:0px;
  position:absolute;
  left:730px;
  top:219px;
  width:40px;
  height:14px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
}
#u12796 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12796_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
