body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1920px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u18990 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:900px;
}
#u18990_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:900px;
}
#u18990_ref {
  border-width:0px;
  position:absolute;
  left:1912px;
  top:890px;
  width:1px;
  height:1px;
}
#u18991_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:900px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.4980392156862745);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u18991 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:900px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u18991 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18991_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u18992 {
  position:absolute;
  left:780px;
  top:361px;
}
#u18992_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:360px;
  height:178px;
  background-image:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18992_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u18993_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:178px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.996078431372549);
  border-radius:6px;
  filter:drop-shadow(none);
  transition:none;
}
#u18993 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:178px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u18993 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18993_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u18994 {
  border-width:0px;
  position:absolute;
  left:324px;
  top:17px;
  width:16px;
  height:16px;
  display:flex;
  transition:none;
}
#u18994 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18994_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u18994_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u18995_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:#000000;
  line-height:12px;
}
#u18995 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:17px;
  width:56px;
  height:12px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#000000;
  line-height:12px;
}
#u18995 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u18995_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u18996 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18997 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:126px;
  width:360px;
  height:1px;
  display:flex;
  transition:none;
}
#u18997 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18997_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:2px;
}
#u18997_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u18998_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border-radius:3px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  line-height:12px;
}
#u18998 {
  border-width:0px;
  position:absolute;
  left:260px;
  top:137px;
  width:80px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
  line-height:12px;
}
#u18998 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18998_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u18999_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:3px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  color:#555555;
  line-height:12px;
}
#u18999 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:137px;
  width:80px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
  color:#555555;
  line-height:12px;
}
#u18999 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18999_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19000 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19001_input {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
  padding:2px 2px 2px 10px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#AAAAAA;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u19001_input.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
  padding:2px 2px 2px 10px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#333333;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u19001_input.focused {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
  padding:2px 2px 2px 10px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u19001_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:3px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  color:#AAAAAA;
}
#u19001 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:62px;
  width:250px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
  color:#AAAAAA;
}
#u19001 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u19001_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:3px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  color:#AAAAAA;
}
#u19001.mouseOver {
}
#u19001_div.focused {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:3px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  color:#AAAAAA;
}
#u19001.focused {
}
.u19001_input_option {
  font-size:12px;
}
#u19002_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  text-align:right;
  line-height:12px;
}
#u19002 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:71px;
  width:70px;
  height:12px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
  text-align:right;
  line-height:12px;
}
#u19002 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u19002_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
