body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1920px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u11173 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:900px;
}
#u11173_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:900px;
}
#u11173_ref {
  border-width:0px;
  position:absolute;
  left:1912px;
  top:890px;
  width:1px;
  height:1px;
}
#u11174_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  text-align:right;
}
#u11174 {
  border-width:0px;
  position:absolute;
  left:1109px;
  top:359px;
  width:31px;
  height:14px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
  text-align:right;
}
#u11174 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11174_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u11175_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  text-align:right;
}
#u11175 {
  border-width:0px;
  position:absolute;
  left:1128px;
  top:539px;
  width:12px;
  height:14px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
  text-align:right;
}
#u11175 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11175_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u11176_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:900px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.7490196078431373);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
}
#u11176 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:900px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
}
#u11176 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11176_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u11177 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11178_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:208px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
}
#u11178 {
  border-width:0px;
  position:absolute;
  left:773px;
  top:346px;
  width:374px;
  height:208px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u11178 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11178_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u11179 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11180_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:36px;
  background:inherit;
  background-color:rgba(22, 93, 255, 1);
  border-radius:2px;
  filter:drop-shadow(none);
  transition:none;
  color:#FFFFFF;
  line-height:22px;
}
#u11180 {
  border-width:0px;
  position:absolute;
  left:967px;
  top:486px;
  width:60px;
  height:36px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#FFFFFF;
  line-height:22px;
}
#u11180 .text {
  position:absolute;
  align-self:center;
  padding:7px 16px 7px 16px;
  box-sizing:border-box;
  width:100%;
}
#u11180_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u11181_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:36px;
  background:inherit;
  background-color:rgba(242, 243, 245, 1);
  border-radius:2px;
  filter:drop-shadow(none);
  transition:none;
  color:#1D2129;
  line-height:22px;
}
#u11181 {
  border-width:0px;
  position:absolute;
  left:894px;
  top:486px;
  width:60px;
  height:36px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#1D2129;
  line-height:22px;
}
#u11181 .text {
  position:absolute;
  align-self:center;
  padding:7px 16px 7px 16px;
  box-sizing:border-box;
  width:100%;
}
#u11181_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u11182 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11183_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"微软雅黑", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:14px;
}
#u11183 {
  border-width:0px;
  position:absolute;
  left:934px;
  top:375px;
  width:70px;
  height:14px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"微软雅黑", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:14px;
}
#u11183 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11183_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u11184 {
  border-width:0px;
  position:absolute;
  left:906px;
  top:372px;
  width:20px;
  height:20px;
  display:flex;
  transition:none;
}
#u11184 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11184_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u11184_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u11185_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"微软雅黑", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:20px;
}
#u11185 {
  border-width:0px;
  position:absolute;
  left:805px;
  top:430px;
  width:310px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"微软雅黑", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:20px;
}
#u11185 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11185_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
