body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-100px;
  width:941px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u16169_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:830px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:14px;
  filter:drop-shadow(none);
  transition:none;
}
#u16169 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:100px;
  width:420px;
  height:830px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u16169 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16169_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u16170_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:730px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u16170 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:135px;
  width:400px;
  height:730px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u16170 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16170_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u16171_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  color:#AAAAAA;
}
#u16171 {
  border-width:0px;
  position:absolute;
  left:278px;
  top:346px;
  width:64px;
  height:14px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
  color:#AAAAAA;
}
#u16171 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u16171_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u16172_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:56px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border-radius:10px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  color:#555555;
  text-align:left;
  line-height:20px;
}
#u16172 {
  border-width:0px;
  position:absolute;
  left:182px;
  top:394px;
  width:160px;
  height:56px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
  color:#555555;
  text-align:left;
  line-height:20px;
}
#u16172 .text {
  position:absolute;
  align-self:center;
  padding:8px 10px 8px 10px;
  box-sizing:border-box;
  width:100%;
}
#u16172_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16173_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:46px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border-radius:30px;
  filter:drop-shadow(none);
  transition:none;
  font-size:11px;
  color:#7F7F7F;
}
#u16173 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:365px;
  width:46px;
  height:46px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:11px;
  color:#7F7F7F;
}
#u16173 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16173_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16174_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  color:#7F7F7F;
}
#u16174 {
  border-width:0px;
  position:absolute;
  left:182px;
  top:374px;
  width:107px;
  height:14px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
  color:#7F7F7F;
}
#u16174 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u16174_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u16175_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:36px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border-radius:10px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  color:#555555;
  text-align:left;
  line-height:20px;
}
#u16175 {
  border-width:0px;
  position:absolute;
  left:182px;
  top:494px;
  width:92px;
  height:36px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
  color:#555555;
  text-align:left;
  line-height:20px;
}
#u16175 .text {
  position:absolute;
  align-self:center;
  padding:8px 10px 8px 10px;
  box-sizing:border-box;
  width:100%;
}
#u16175_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u16176_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:46px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border-radius:30px;
  filter:drop-shadow(none);
  transition:none;
  font-size:11px;
  color:#7F7F7F;
}
#u16176 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:465px;
  width:46px;
  height:46px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:11px;
  color:#7F7F7F;
}
#u16176 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16176_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16177_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  color:#7F7F7F;
}
#u16177 {
  border-width:0px;
  position:absolute;
  left:182px;
  top:474px;
  width:107px;
  height:14px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
  color:#7F7F7F;
}
#u16177 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u16177_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u16178 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16179_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:36px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border-radius:10px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  color:#555555;
  text-align:left;
  line-height:20px;
}
#u16179 {
  border-width:0px;
  position:absolute;
  left:383px;
  top:602px;
  width:56px;
  height:36px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
  color:#555555;
  text-align:left;
  line-height:20px;
}
#u16179 .text {
  position:absolute;
  align-self:center;
  padding:8px 10px 8px 10px;
  box-sizing:border-box;
  width:100%;
}
#u16179_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u16180 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16181_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:46px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border-radius:30px;
  filter:drop-shadow(none);
  transition:none;
  font-size:11px;
  color:#7F7F7F;
}
#u16181 {
  border-width:0px;
  position:absolute;
  left:448px;
  top:573px;
  width:46px;
  height:46px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:11px;
  color:#7F7F7F;
}
#u16181 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16181_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16182_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:18px;
  background:inherit;
  background-color:rgba(170, 170, 170, 1);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  color:#FFFFFF;
}
#u16182 {
  border-width:0px;
  position:absolute;
  left:452px;
  top:610px;
  width:38px;
  height:18px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
  color:#FFFFFF;
}
#u16182 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16182_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16183_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  color:#7F7F7F;
}
#u16183 {
  border-width:0px;
  position:absolute;
  left:332px;
  top:582px;
  width:107px;
  height:14px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
  color:#7F7F7F;
}
#u16183 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u16183_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u16184_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:120px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border-radius:10px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  color:#555555;
  line-height:20px;
}
#u16184 {
  border-width:0px;
  position:absolute;
  left:182px;
  top:688px;
  width:100px;
  height:120px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
  color:#555555;
  line-height:20px;
}
#u16184 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16184_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16185_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:46px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border-radius:30px;
  filter:drop-shadow(none);
  transition:none;
  font-size:11px;
  color:#7F7F7F;
}
#u16185 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:653px;
  width:46px;
  height:46px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:11px;
  color:#7F7F7F;
}
#u16185 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16185_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16186_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  color:#7F7F7F;
}
#u16186 {
  border-width:0px;
  position:absolute;
  left:182px;
  top:662px;
  width:155px;
  height:14px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
  color:#7F7F7F;
}
#u16186 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u16186_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u16187_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  color:#7F7F7F;
}
#u16187 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:821px;
  width:48px;
  height:14px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
  color:#7F7F7F;
}
#u16187 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u16187_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u16188 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16189_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:#7F7F7F;
  text-align:center;
}
#u16189 {
  border-width:0px;
  position:absolute;
  left:469px;
  top:149px;
  width:28px;
  height:16px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#7F7F7F;
  text-align:center;
}
#u16189 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u16189_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u16190 {
  border-width:0px;
  position:absolute;
  left:409px;
  top:151px;
  width:23px;
  height:12px;
  display:flex;
  transition:none;
}
#u16190 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16190_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:12px;
}
#u16190_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u16191 {
  border-width:0px;
  position:absolute;
  left:444px;
  top:151px;
  width:12px;
  height:12px;
  display:flex;
  transition:none;
}
#u16191 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16191_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u16191_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u16192 {
  border-width:0px;
  position:absolute;
  left:162px;
  top:151px;
  width:12px;
  height:12px;
  display:flex;
  transition:none;
}
#u16192 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16192_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u16192_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u16193_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:#7F7F7F;
  text-align:center;
}
#u16193 {
  border-width:0px;
  position:absolute;
  left:123px;
  top:149px;
  width:26px;
  height:16px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#7F7F7F;
  text-align:center;
}
#u16193 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u16193_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u16194_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
  background:inherit;
  background-color:rgba(230, 230, 230, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:28px;
  filter:drop-shadow(none);
  transition:none;
  color:#FFFFFF;
}
#u16194 {
  border-width:0px;
  position:absolute;
  left:302px;
  top:112px;
  width:16px;
  height:16px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#FFFFFF;
}
#u16194 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16194_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u16195_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:18px;
}
#u16195 {
  border-width:0px;
  position:absolute;
  left:152px;
  top:184px;
  width:36px;
  height:21px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:18px;
}
#u16195 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u16195_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u16196_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u16196 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:67px;
  width:87px;
  height:23px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u16196 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u16196_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u16197 {
  border-width:0px;
  position:absolute;
  left:124px;
  top:183px;
  width:22px;
  height:22px;
  display:flex;
  transition:none;
}
#u16197 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16197_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u16197_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u16198_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:110px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:10px;
  filter:drop-shadow(none);
  transition:none;
  color:#AAAAAA;
}
#u16198 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:220px;
  width:370px;
  height:110px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#AAAAAA;
}
#u16198 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16198_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u16199_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:16px;
}
#u16199 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:235px;
  width:80px;
  height:18px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:16px;
}
#u16199 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u16199_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u16200_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  letter-spacing:1px;
  color:#7F7F7F;
  text-align:justify;
  text-justify:inter-word;
  line-height:18px;
}
#u16200 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:263px;
  width:330px;
  height:54px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
  letter-spacing:1px;
  color:#7F7F7F;
  text-align:justify;
  text-justify:inter-word;
  line-height:18px;
}
#u16200 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u16200_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16201_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:46px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border-radius:30px;
  filter:drop-shadow(none);
  transition:none;
  font-size:11px;
  color:#7F7F7F;
}
#u16201 {
  border-width:0px;
  position:absolute;
  left:437px;
  top:198px;
  width:46px;
  height:46px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:11px;
  color:#7F7F7F;
}
#u16201 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16201_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16202_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:830px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:14px;
  filter:drop-shadow(none);
  transition:none;
}
#u16202 {
  border-width:0px;
  position:absolute;
  left:620px;
  top:100px;
  width:420px;
  height:830px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u16202 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16202_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u16203_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:730px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u16203 {
  border-width:0px;
  position:absolute;
  left:630px;
  top:135px;
  width:400px;
  height:730px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u16203 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16203_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u16204_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  color:#AAAAAA;
}
#u16204 {
  border-width:0px;
  position:absolute;
  left:798px;
  top:346px;
  width:64px;
  height:14px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
  color:#AAAAAA;
}
#u16204 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u16204_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u16205_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:56px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border-radius:10px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  color:#555555;
  text-align:left;
  line-height:20px;
}
#u16205 {
  border-width:0px;
  position:absolute;
  left:702px;
  top:394px;
  width:160px;
  height:56px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
  color:#555555;
  text-align:left;
  line-height:20px;
}
#u16205 .text {
  position:absolute;
  align-self:center;
  padding:8px 10px 8px 10px;
  box-sizing:border-box;
  width:100%;
}
#u16205_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16206_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:46px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border-radius:30px;
  filter:drop-shadow(none);
  transition:none;
  font-size:11px;
  color:#7F7F7F;
}
#u16206 {
  border-width:0px;
  position:absolute;
  left:645px;
  top:365px;
  width:46px;
  height:46px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:11px;
  color:#7F7F7F;
}
#u16206 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16206_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16207_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  color:#7F7F7F;
}
#u16207 {
  border-width:0px;
  position:absolute;
  left:702px;
  top:374px;
  width:107px;
  height:14px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
  color:#7F7F7F;
}
#u16207 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u16207_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u16208_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:36px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border-radius:10px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  color:#555555;
  text-align:left;
  line-height:20px;
}
#u16208 {
  border-width:0px;
  position:absolute;
  left:702px;
  top:494px;
  width:92px;
  height:36px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
  color:#555555;
  text-align:left;
  line-height:20px;
}
#u16208 .text {
  position:absolute;
  align-self:center;
  padding:8px 10px 8px 10px;
  box-sizing:border-box;
  width:100%;
}
#u16208_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u16209_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:46px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border-radius:30px;
  filter:drop-shadow(none);
  transition:none;
  font-size:11px;
  color:#7F7F7F;
}
#u16209 {
  border-width:0px;
  position:absolute;
  left:645px;
  top:465px;
  width:46px;
  height:46px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:11px;
  color:#7F7F7F;
}
#u16209 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16209_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16210_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  color:#7F7F7F;
}
#u16210 {
  border-width:0px;
  position:absolute;
  left:702px;
  top:474px;
  width:107px;
  height:14px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
  color:#7F7F7F;
}
#u16210 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u16210_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u16211 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16212_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:36px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border-radius:10px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  color:#555555;
  text-align:left;
  line-height:20px;
}
#u16212 {
  border-width:0px;
  position:absolute;
  left:903px;
  top:572px;
  width:56px;
  height:36px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
  color:#555555;
  text-align:left;
  line-height:20px;
}
#u16212 .text {
  position:absolute;
  align-self:center;
  padding:8px 10px 8px 10px;
  box-sizing:border-box;
  width:100%;
}
#u16212_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u16213 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16214_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:46px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border-radius:30px;
  filter:drop-shadow(none);
  transition:none;
  font-size:11px;
  color:#7F7F7F;
}
#u16214 {
  border-width:0px;
  position:absolute;
  left:968px;
  top:543px;
  width:46px;
  height:46px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:11px;
  color:#7F7F7F;
}
#u16214 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16214_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16215_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:18px;
  background:inherit;
  background-color:rgba(170, 170, 170, 1);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  color:#FFFFFF;
}
#u16215 {
  border-width:0px;
  position:absolute;
  left:972px;
  top:580px;
  width:38px;
  height:18px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
  color:#FFFFFF;
}
#u16215 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16215_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16216_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  color:#7F7F7F;
}
#u16216 {
  border-width:0px;
  position:absolute;
  left:852px;
  top:552px;
  width:107px;
  height:14px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
  color:#7F7F7F;
}
#u16216 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u16216_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u16217_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:120px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border-radius:10px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  color:#555555;
  line-height:20px;
}
#u16217 {
  border-width:0px;
  position:absolute;
  left:702px;
  top:658px;
  width:100px;
  height:120px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
  color:#555555;
  line-height:20px;
}
#u16217 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16217_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16218_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:46px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border-radius:30px;
  filter:drop-shadow(none);
  transition:none;
  font-size:11px;
  color:#7F7F7F;
}
#u16218 {
  border-width:0px;
  position:absolute;
  left:645px;
  top:623px;
  width:46px;
  height:46px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:11px;
  color:#7F7F7F;
}
#u16218 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16218_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16219_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  color:#7F7F7F;
}
#u16219 {
  border-width:0px;
  position:absolute;
  left:702px;
  top:632px;
  width:155px;
  height:14px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
  color:#7F7F7F;
}
#u16219 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u16219_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u16220 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16221_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:#7F7F7F;
  text-align:center;
}
#u16221 {
  border-width:0px;
  position:absolute;
  left:989px;
  top:149px;
  width:28px;
  height:16px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#7F7F7F;
  text-align:center;
}
#u16221 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u16221_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u16222 {
  border-width:0px;
  position:absolute;
  left:929px;
  top:151px;
  width:23px;
  height:12px;
  display:flex;
  transition:none;
}
#u16222 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16222_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:12px;
}
#u16222_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u16223 {
  border-width:0px;
  position:absolute;
  left:964px;
  top:151px;
  width:12px;
  height:12px;
  display:flex;
  transition:none;
}
#u16223 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16223_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u16223_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u16224 {
  border-width:0px;
  position:absolute;
  left:682px;
  top:151px;
  width:12px;
  height:12px;
  display:flex;
  transition:none;
}
#u16224 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16224_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u16224_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u16225_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:#7F7F7F;
  text-align:center;
}
#u16225 {
  border-width:0px;
  position:absolute;
  left:643px;
  top:149px;
  width:26px;
  height:16px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#7F7F7F;
  text-align:center;
}
#u16225 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u16225_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u16226_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
  background:inherit;
  background-color:rgba(230, 230, 230, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:28px;
  filter:drop-shadow(none);
  transition:none;
  color:#FFFFFF;
}
#u16226 {
  border-width:0px;
  position:absolute;
  left:822px;
  top:112px;
  width:16px;
  height:16px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#FFFFFF;
}
#u16226 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16226_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u16227_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:18px;
}
#u16227 {
  border-width:0px;
  position:absolute;
  left:672px;
  top:184px;
  width:36px;
  height:21px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:18px;
}
#u16227 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u16227_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u16228_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u16228 {
  border-width:0px;
  position:absolute;
  left:620px;
  top:67px;
  width:194px;
  height:23px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u16228 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u16228_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u16229 {
  border-width:0px;
  position:absolute;
  left:644px;
  top:183px;
  width:22px;
  height:22px;
  display:flex;
  transition:none;
}
#u16229 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16229_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u16229_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u16230_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:110px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:10px;
  filter:drop-shadow(none);
  transition:none;
  color:#AAAAAA;
}
#u16230 {
  border-width:0px;
  position:absolute;
  left:645px;
  top:220px;
  width:370px;
  height:110px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#AAAAAA;
}
#u16230 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16230_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u16231_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:16px;
}
#u16231 {
  border-width:0px;
  position:absolute;
  left:660px;
  top:235px;
  width:80px;
  height:18px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:16px;
}
#u16231 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u16231_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u16232_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  letter-spacing:1px;
  color:#7F7F7F;
  text-align:justify;
  text-justify:inter-word;
  line-height:18px;
}
#u16232 {
  border-width:0px;
  position:absolute;
  left:660px;
  top:263px;
  width:330px;
  height:54px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
  letter-spacing:1px;
  color:#7F7F7F;
  text-align:justify;
  text-justify:inter-word;
  line-height:18px;
}
#u16232 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u16232_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16233_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:46px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border-radius:30px;
  filter:drop-shadow(none);
  transition:none;
  font-size:11px;
  color:#7F7F7F;
}
#u16233 {
  border-width:0px;
  position:absolute;
  left:957px;
  top:198px;
  width:46px;
  height:46px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:11px;
  color:#7F7F7F;
}
#u16233 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16233_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16234_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:40px;
  background:inherit;
  background-color:rgba(202, 202, 202, 0.6);
  border-radius:42px;
  filter:drop-shadow(none);
  transition:none;
  color:#909090;
}
#u16234 {
  border-width:0px;
  position:absolute;
  left:642px;
  top:808px;
  width:374px;
  height:40px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#909090;
}
#u16234 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16234_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16235 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16236 {
  border-width:0px;
  position:absolute;
  left:652px;
  top:585px;
  width:75px;
  height:36px;
  display:flex;
  transition:none;
  font-size:12px;
  color:#555555;
  text-align:left;
  line-height:20px;
}
#u16236 .text {
  position:absolute;
  align-self:center;
  padding:8px 10px 8px 10px;
  box-sizing:border-box;
  width:100%;
}
#u16236_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:36px;
}
#u16236_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u16237_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  color:#555555;
  line-height:20px;
}
#u16237 {
  border-width:0px;
  position:absolute;
  left:666px;
  top:590px;
  width:48px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
  color:#555555;
  line-height:20px;
}
#u16237 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u16237_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u16238_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:13px;
  letter-spacing:1px;
  line-height:18px;
}
#u16238 {
  border-width:0px;
  position:absolute;
  left:621px;
  top:940px;
  width:420px;
  height:36px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:13px;
  letter-spacing:1px;
  line-height:18px;
}
#u16238 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u16238_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16239_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  color:#AAAAAA;
}
#u16239 {
  border-width:0px;
  position:absolute;
  left:257px;
  top:546px;
  width:107px;
  height:14px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
  color:#AAAAAA;
}
#u16239 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u16239_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u16240_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:398px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u16240 {
  border-width:0px;
  position:absolute;
  left:111px;
  top:764px;
  width:398px;
  height:100px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u16240 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16240_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u16241_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:368px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.792156862745098);
  border-radius:42px;
  filter:drop-shadow(none);
  transition:none;
}
#u16241 {
  border-width:0px;
  position:absolute;
  left:126px;
  top:774px;
  width:368px;
  height:40px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u16241 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16241_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u16242 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16243 {
  border-width:0px;
  position:absolute;
  left:445px;
  top:825px;
  width:26px;
  height:26px;
  display:flex;
  transition:none;
}
#u16243 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16243_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u16243_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u16244 {
  border-width:0px;
  position:absolute;
  left:248px;
  top:825px;
  width:26px;
  height:26px;
  display:flex;
  transition:none;
}
#u16244 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16244_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u16244_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u16245 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:825px;
  width:26px;
  height:26px;
  display:flex;
  transition:none;
}
#u16245 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16245_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u16245_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u16246 {
  border-width:0px;
  position:absolute;
  left:347px;
  top:825px;
  width:26px;
  height:26px;
  display:flex;
  transition:none;
}
#u16246 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16246_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u16246_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u16247_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border-radius:30px;
  filter:drop-shadow(none);
  transition:none;
  font-size:11px;
  color:#7F7F7F;
}
#u16247 {
  border-width:0px;
  position:absolute;
  left:437px;
  top:779px;
  width:50px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:11px;
  color:#7F7F7F;
}
#u16247 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16247_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
