body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1920px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u19548 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:900px;
}
#u19548_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:900px;
}
#u19548_ref {
  border-width:0px;
  position:absolute;
  left:1912px;
  top:890px;
  width:1px;
  height:1px;
}
#u19549_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:900px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.4980392156862745);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u19549 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:900px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u19549 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19549_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u19550 {
  position:absolute;
  left:780px;
  top:305px;
}
#u19550_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:360px;
  height:290px;
  background-image:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19550_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u19551_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:290px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.996078431372549);
  border-radius:6px;
  filter:drop-shadow(none);
  transition:none;
}
#u19551 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:290px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u19551 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19551_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u19552 {
  border-width:0px;
  position:absolute;
  left:324px;
  top:17px;
  width:16px;
  height:16px;
  display:flex;
  transition:none;
}
#u19552 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19552_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u19552_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u19553_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:#000000;
  line-height:12px;
}
#u19553 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:17px;
  width:56px;
  height:12px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#000000;
  line-height:12px;
}
#u19553 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u19553_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u19554 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19555 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:239px;
  width:360px;
  height:1px;
  display:flex;
  transition:none;
}
#u19555 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19555_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:2px;
}
#u19555_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u19556_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border-radius:3px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  line-height:12px;
}
#u19556 {
  border-width:0px;
  position:absolute;
  left:260px;
  top:250px;
  width:80px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
  line-height:12px;
}
#u19556 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19556_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19557_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:3px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  color:#555555;
  line-height:12px;
}
#u19557 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:250px;
  width:80px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
  color:#555555;
  line-height:12px;
}
#u19557 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19557_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19558 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19559_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  text-align:right;
  line-height:12px;
}
#u19559 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:54px;
  width:70px;
  height:12px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
  text-align:right;
  line-height:12px;
}
#u19559 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u19559_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19560_input {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
  padding:2px 2px 2px 10px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#AAAAAA;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u19560_input.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
  padding:2px 2px 2px 10px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#333333;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u19560_input.focused {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
  padding:2px 2px 2px 10px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u19560_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:3px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  color:#AAAAAA;
}
#u19560 {
  border-width:0px;
  position:absolute;
  left:93px;
  top:45px;
  width:250px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
  color:#AAAAAA;
}
#u19560 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u19560_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:3px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  color:#AAAAAA;
}
#u19560.mouseOver {
}
#u19560_div.focused {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:3px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  color:#AAAAAA;
}
#u19560.focused {
}
#u19561 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19562_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  text-align:right;
  line-height:12px;
}
#u19562 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:104px;
  width:70px;
  height:12px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
  text-align:right;
  line-height:12px;
}
#u19562 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u19562_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19563_input {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
  padding:2px 2px 2px 10px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#AAAAAA;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u19563_input.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
  padding:2px 2px 2px 10px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#333333;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u19563_input.focused {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
  padding:2px 2px 2px 10px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u19563_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:3px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  color:#AAAAAA;
}
#u19563 {
  border-width:0px;
  position:absolute;
  left:93px;
  top:95px;
  width:250px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
  color:#AAAAAA;
}
#u19563 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u19563_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:3px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  color:#AAAAAA;
}
#u19563.mouseOver {
}
#u19563_div.focused {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:3px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  color:#AAAAAA;
}
#u19563.focused {
}
#u19564 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19565_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  text-align:right;
  line-height:12px;
}
#u19565 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:154px;
  width:70px;
  height:12px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
  text-align:right;
  line-height:12px;
}
#u19565 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u19565_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19566_input {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
  padding:2px 2px 2px 10px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#AAAAAA;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u19566_input.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
  padding:2px 2px 2px 10px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#333333;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u19566_input.focused {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
  padding:2px 2px 2px 10px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u19566_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:3px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  color:#AAAAAA;
}
#u19566 {
  border-width:0px;
  position:absolute;
  left:93px;
  top:145px;
  width:250px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
  color:#AAAAAA;
}
#u19566 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u19566_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:3px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  color:#AAAAAA;
}
#u19566.mouseOver {
}
#u19566_div.focused {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:3px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  color:#AAAAAA;
}
#u19566.focused {
}
#u19567_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  text-align:right;
  line-height:12px;
}
#u19567 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:204px;
  width:70px;
  height:12px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
  text-align:right;
  line-height:12px;
}
#u19567 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u19567_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19568_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:18px;
  background:inherit;
  background-color:rgba(112, 182, 3, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  color:#FFFFFF;
  line-height:12px;
}
#u19568 {
  border-width:0px;
  position:absolute;
  left:93px;
  top:200px;
  width:54px;
  height:18px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
  color:#FFFFFF;
  line-height:12px;
}
#u19568 .text {
  position:absolute;
  align-self:center;
  padding:3px 3px 3px 3px;
  box-sizing:border-box;
  width:100%;
}
#u19568_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
