body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1920px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u19543 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:900px;
}
#u19543_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:900px;
}
#u19543_ref {
  border-width:0px;
  position:absolute;
  left:1912px;
  top:890px;
  width:1px;
  height:1px;
}
#u19544_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:900px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.4980392156862745);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u19544 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:900px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u19544 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19544_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u19545 {
  position:absolute;
  left:780px;
  top:305px;
}
#u19545_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:360px;
  height:290px;
  background-image:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19545_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u19546_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:290px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.996078431372549);
  border-radius:6px;
  filter:drop-shadow(none);
  transition:none;
}
#u19546 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:290px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u19546 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19546_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u19547 {
  border-width:0px;
  position:absolute;
  left:324px;
  top:17px;
  width:16px;
  height:16px;
  display:flex;
  transition:none;
}
#u19547 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19547_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u19547_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u19548_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:#000000;
  line-height:12px;
}
#u19548 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:17px;
  width:56px;
  height:12px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#000000;
  line-height:12px;
}
#u19548 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u19548_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u19549 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19550 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:239px;
  width:360px;
  height:1px;
  display:flex;
  transition:none;
}
#u19550 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19550_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:2px;
}
#u19550_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u19551_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border-radius:3px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  line-height:12px;
}
#u19551 {
  border-width:0px;
  position:absolute;
  left:260px;
  top:250px;
  width:80px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
  line-height:12px;
}
#u19551 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19551_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19552_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:3px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  color:#555555;
  line-height:12px;
}
#u19552 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:250px;
  width:80px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
  color:#555555;
  line-height:12px;
}
#u19552 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19552_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19553 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19554_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  text-align:right;
  line-height:12px;
}
#u19554 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:54px;
  width:70px;
  height:12px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
  text-align:right;
  line-height:12px;
}
#u19554 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u19554_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19555_input {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
  padding:2px 2px 2px 10px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#AAAAAA;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u19555_input.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
  padding:2px 2px 2px 10px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#333333;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u19555_input.focused {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
  padding:2px 2px 2px 10px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u19555_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:3px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  color:#AAAAAA;
}
#u19555 {
  border-width:0px;
  position:absolute;
  left:93px;
  top:45px;
  width:250px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
  color:#AAAAAA;
}
#u19555 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u19555_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:3px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  color:#AAAAAA;
}
#u19555.mouseOver {
}
#u19555_div.focused {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:3px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  color:#AAAAAA;
}
#u19555.focused {
}
#u19556 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19557_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  text-align:right;
  line-height:12px;
}
#u19557 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:104px;
  width:70px;
  height:12px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
  text-align:right;
  line-height:12px;
}
#u19557 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u19557_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19558_input {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
  padding:2px 2px 2px 10px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#AAAAAA;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u19558_input.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
  padding:2px 2px 2px 10px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#333333;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u19558_input.focused {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
  padding:2px 2px 2px 10px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u19558_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:3px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  color:#AAAAAA;
}
#u19558 {
  border-width:0px;
  position:absolute;
  left:93px;
  top:95px;
  width:250px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
  color:#AAAAAA;
}
#u19558 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u19558_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:3px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  color:#AAAAAA;
}
#u19558.mouseOver {
}
#u19558_div.focused {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:3px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  color:#AAAAAA;
}
#u19558.focused {
}
#u19559 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19560_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  text-align:right;
  line-height:12px;
}
#u19560 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:154px;
  width:70px;
  height:12px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
  text-align:right;
  line-height:12px;
}
#u19560 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u19560_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19561_input {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
  padding:2px 2px 2px 10px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#AAAAAA;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u19561_input.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
  padding:2px 2px 2px 10px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#333333;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u19561_input.focused {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
  padding:2px 2px 2px 10px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u19561_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:3px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  color:#AAAAAA;
}
#u19561 {
  border-width:0px;
  position:absolute;
  left:93px;
  top:145px;
  width:250px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
  color:#AAAAAA;
}
#u19561 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u19561_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:3px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  color:#AAAAAA;
}
#u19561.mouseOver {
}
#u19561_div.focused {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:3px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  color:#AAAAAA;
}
#u19561.focused {
}
#u19562_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  text-align:right;
  line-height:12px;
}
#u19562 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:204px;
  width:70px;
  height:12px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
  text-align:right;
  line-height:12px;
}
#u19562 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u19562_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19563_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:18px;
  background:inherit;
  background-color:rgba(112, 182, 3, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  color:#FFFFFF;
  line-height:12px;
}
#u19563 {
  border-width:0px;
  position:absolute;
  left:93px;
  top:200px;
  width:54px;
  height:18px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
  color:#FFFFFF;
  line-height:12px;
}
#u19563 .text {
  position:absolute;
  align-self:center;
  padding:3px 3px 3px 3px;
  box-sizing:border-box;
  width:100%;
}
#u19563_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
