body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1920px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u7117 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:900px;
}
#u7117_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:900px;
}
#u7117_ref {
  border-width:0px;
  position:absolute;
  left:1912px;
  top:890px;
  width:1px;
  height:1px;
}
#u7118_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:900px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.7490196078431373);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
}
#u7118 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:900px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
}
#u7118 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7118_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7119 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7120 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7121_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:656px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u7121 {
  border-width:0px;
  position:absolute;
  left:775px;
  top:122px;
  width:370px;
  height:656px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u7121 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7121_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7122 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7123 {
  border-width:0px;
  position:absolute;
  left:775px;
  top:172px;
  width:370px;
  height:1px;
  display:flex;
  transition:none;
}
#u7123 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7123_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:371px;
  height:2px;
}
#u7123_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7124 {
  border-width:0px;
  position:absolute;
  left:1109px;
  top:141px;
  width:16px;
  height:16px;
  display:flex;
  transition:none;
}
#u7124 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7124_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u7124_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7125 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7126 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7127_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  color:#6B6B6B;
}
#u7127 {
  border-width:0px;
  position:absolute;
  left:802px;
  top:188px;
  width:86px;
  height:14px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
  color:#6B6B6B;
}
#u7127 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7127_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7128 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7129_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:24px;
  background:inherit;
  background-color:rgba(223, 222, 222, 1);
  border-radius:27px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
}
#u7129 {
  border-width:0px;
  position:absolute;
  left:1075px;
  top:183px;
  width:50px;
  height:24px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
}
#u7129 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7129_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7130_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(223, 222, 222, 1);
  border-radius:27px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
}
#u7130 {
  border-width:0px;
  position:absolute;
  left:1075px;
  top:183px;
  width:24px;
  height:24px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
}
#u7130 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7130_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7131_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  color:#6B6B6B;
}
#u7131 {
  border-width:0px;
  position:absolute;
  left:1017px;
  top:188px;
  width:48px;
  height:14px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
  color:#6B6B6B;
}
#u7131 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7131_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7132_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:36px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border-radius:8px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  color:#939393;
  text-align:left;
  line-height:20px;
}
#u7132 {
  border-width:0px;
  position:absolute;
  left:795px;
  top:217px;
  width:330px;
  height:36px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
  color:#939393;
  text-align:left;
  line-height:20px;
}
#u7132 .text {
  position:absolute;
  align-self:center;
  padding:8px 10px 8px 10px;
  box-sizing:border-box;
  width:100%;
}
#u7132_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7133 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7134_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:29px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
}
#u7134 {
  border-width:0px;
  position:absolute;
  left:1065px;
  top:268px;
  width:60px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
}
#u7134 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7134_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7135_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
  background:inherit;
  background-color:rgba(24, 144, 255, 1);
  border-radius:30px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  color:#FFFFFF;
}
#u7135 {
  border-width:0px;
  position:absolute;
  left:1065px;
  top:368px;
  width:60px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
  color:#FFFFFF;
}
#u7135 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7135_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7136_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:29px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
}
#u7136 {
  border-width:0px;
  position:absolute;
  left:1065px;
  top:318px;
  width:60px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
}
#u7136 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7136_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7137_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:29px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
}
#u7137 {
  border-width:0px;
  position:absolute;
  left:1065px;
  top:418px;
  width:60px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
}
#u7137 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7137_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7138_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:29px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
}
#u7138 {
  border-width:0px;
  position:absolute;
  left:1065px;
  top:468px;
  width:60px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
}
#u7138 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7138_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7139_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border-radius:40px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
}
#u7139 {
  border-width:0px;
  position:absolute;
  left:795px;
  top:263px;
  width:40px;
  height:40px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
}
#u7139 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7139_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7140_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:13px;
  color:#7F7F7F;
}
#u7140 {
  border-width:0px;
  position:absolute;
  left:847px;
  top:276px;
  width:89px;
  height:15px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:13px;
  color:#7F7F7F;
}
#u7140 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7140_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7141_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border-radius:40px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
}
#u7141 {
  border-width:0px;
  position:absolute;
  left:795px;
  top:313px;
  width:40px;
  height:40px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
}
#u7141 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7141_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7142_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:13px;
  color:#7F7F7F;
}
#u7142 {
  border-width:0px;
  position:absolute;
  left:847px;
  top:326px;
  width:89px;
  height:15px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:13px;
  color:#7F7F7F;
}
#u7142 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7142_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7143_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border-radius:40px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
}
#u7143 {
  border-width:0px;
  position:absolute;
  left:795px;
  top:363px;
  width:40px;
  height:40px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
}
#u7143 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7143_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7144_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:13px;
  color:#7F7F7F;
}
#u7144 {
  border-width:0px;
  position:absolute;
  left:847px;
  top:376px;
  width:89px;
  height:15px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:13px;
  color:#7F7F7F;
}
#u7144 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7144_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7145_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border-radius:40px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
}
#u7145 {
  border-width:0px;
  position:absolute;
  left:795px;
  top:413px;
  width:40px;
  height:40px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
}
#u7145 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7145_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7146_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:13px;
  color:#7F7F7F;
}
#u7146 {
  border-width:0px;
  position:absolute;
  left:847px;
  top:426px;
  width:89px;
  height:15px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:13px;
  color:#7F7F7F;
}
#u7146 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7146_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7147_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border-radius:40px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
}
#u7147 {
  border-width:0px;
  position:absolute;
  left:795px;
  top:463px;
  width:40px;
  height:40px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
}
#u7147 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7147_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7148_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:13px;
  color:#7F7F7F;
}
#u7148 {
  border-width:0px;
  position:absolute;
  left:847px;
  top:476px;
  width:89px;
  height:15px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:13px;
  color:#7F7F7F;
}
#u7148 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7148_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7149_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:29px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
}
#u7149 {
  border-width:0px;
  position:absolute;
  left:1065px;
  top:518px;
  width:60px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
}
#u7149 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7149_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7150_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
  background:inherit;
  background-color:rgba(24, 144, 255, 1);
  border-radius:30px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  color:#FFFFFF;
}
#u7150 {
  border-width:0px;
  position:absolute;
  left:1065px;
  top:618px;
  width:60px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
  color:#FFFFFF;
}
#u7150 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7150_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7151_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:29px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
}
#u7151 {
  border-width:0px;
  position:absolute;
  left:1065px;
  top:568px;
  width:60px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
}
#u7151 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7151_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7152_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:29px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
}
#u7152 {
  border-width:0px;
  position:absolute;
  left:1065px;
  top:668px;
  width:60px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
}
#u7152 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7152_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7153_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:29px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
}
#u7153 {
  border-width:0px;
  position:absolute;
  left:1065px;
  top:718px;
  width:60px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
}
#u7153 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7153_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7154_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border-radius:40px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
}
#u7154 {
  border-width:0px;
  position:absolute;
  left:795px;
  top:513px;
  width:40px;
  height:40px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
}
#u7154 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7154_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7155_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:13px;
  color:#7F7F7F;
}
#u7155 {
  border-width:0px;
  position:absolute;
  left:847px;
  top:526px;
  width:89px;
  height:15px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:13px;
  color:#7F7F7F;
}
#u7155 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7155_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7156_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border-radius:40px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
}
#u7156 {
  border-width:0px;
  position:absolute;
  left:795px;
  top:563px;
  width:40px;
  height:40px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
}
#u7156 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7156_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7157_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:13px;
  color:#7F7F7F;
}
#u7157 {
  border-width:0px;
  position:absolute;
  left:847px;
  top:576px;
  width:89px;
  height:15px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:13px;
  color:#7F7F7F;
}
#u7157 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7157_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7158_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border-radius:40px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
}
#u7158 {
  border-width:0px;
  position:absolute;
  left:795px;
  top:613px;
  width:40px;
  height:40px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
}
#u7158 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7158_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7159_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:13px;
  color:#7F7F7F;
}
#u7159 {
  border-width:0px;
  position:absolute;
  left:847px;
  top:626px;
  width:89px;
  height:15px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:13px;
  color:#7F7F7F;
}
#u7159 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7159_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7160_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border-radius:40px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
}
#u7160 {
  border-width:0px;
  position:absolute;
  left:795px;
  top:663px;
  width:40px;
  height:40px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
}
#u7160 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7160_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7161_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:13px;
  color:#7F7F7F;
}
#u7161 {
  border-width:0px;
  position:absolute;
  left:847px;
  top:676px;
  width:89px;
  height:15px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:13px;
  color:#7F7F7F;
}
#u7161 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7161_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7162_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border-radius:40px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
}
#u7162 {
  border-width:0px;
  position:absolute;
  left:795px;
  top:713px;
  width:40px;
  height:40px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
}
#u7162 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7162_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7163_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:13px;
  color:#7F7F7F;
}
#u7163 {
  border-width:0px;
  position:absolute;
  left:847px;
  top:726px;
  width:89px;
  height:15px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:13px;
  color:#7F7F7F;
}
#u7163 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7163_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7164_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u7164 {
  border-width:0px;
  position:absolute;
  left:795px;
  top:139px;
  width:95px;
  height:18px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u7164 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7164_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
