body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1920px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u2115 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:900px;
}
#u2115_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:900px;
}
#u2115_ref {
  border-width:0px;
  position:absolute;
  left:1912px;
  top:890px;
  width:1px;
  height:1px;
}
#u2116_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:900px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.4980392156862745);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
}
#u2116 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:900px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
}
#u2116 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2116_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2117 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2118_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:140px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u2118 {
  border-width:0px;
  position:absolute;
  left:750px;
  top:380px;
  width:420px;
  height:140px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u2118 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2118_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2119 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2120_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u2120 {
  border-width:0px;
  position:absolute;
  left:770px;
  top:399px;
  width:28px;
  height:16px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u2120 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2120_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2121 {
  border-width:0px;
  position:absolute;
  left:1134px;
  top:399px;
  width:16px;
  height:16px;
  display:flex;
  transition:none;
}
#u2121 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2121_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u2121_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2122_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:14px;
  background:inherit;
  background-color:rgba(247, 248, 250, 0);
  border-left:0px;
  border-top:0px;
  border-radius:0px;
  border-top-right-radius:0px;
  border-bottom-left-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"微软雅黑", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#86909C;
  line-height:14px;
}
#u2122 {
  border-width:0px;
  position:absolute;
  left:770px;
  top:434px;
  width:28px;
  height:14px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"微软雅黑", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#86909C;
  line-height:14px;
}
#u2122 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2122_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2123_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:14px;
  background:inherit;
  background-color:rgba(247, 248, 250, 0);
  border-left:0px;
  border-top:0px;
  border-radius:0px;
  border-top-right-radius:0px;
  border-bottom-left-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"微软雅黑", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#86909C;
  line-height:14px;
}
#u2123 {
  border-width:0px;
  position:absolute;
  left:770px;
  top:472px;
  width:28px;
  height:14px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"微软雅黑", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#86909C;
  line-height:14px;
}
#u2123 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2123_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2124_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:14px;
  background:inherit;
  background-color:rgba(247, 248, 250, 0);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"微软雅黑", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#1D2129;
  line-height:14px;
}
#u2124 {
  border-width:0px;
  position:absolute;
  left:863px;
  top:434px;
  width:210px;
  height:14px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"微软雅黑", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#1D2129;
  line-height:14px;
}
#u2124 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2124_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2125_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:14px;
  background:inherit;
  background-color:rgba(247, 248, 250, 0);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"微软雅黑", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:14px;
}
#u2125 {
  border-width:0px;
  position:absolute;
  left:863px;
  top:472px;
  width:210px;
  height:14px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"微软雅黑", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:14px;
}
#u2125 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2125_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
