body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1920px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u9807 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:880px;
}
#u9807_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:880px;
}
#u9807_ref {
  border-width:0px;
  position:absolute;
  left:1912px;
  top:870px;
  width:1px;
  height:1px;
}
#u9808_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:880px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.4980392156862745);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u9808 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:880px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u9808 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9808_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9809 {
  position:absolute;
  left:560px;
  top:240px;
}
#u9809_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:800px;
  height:401px;
  background-image:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9809_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u9810 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9811_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:400px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u9811 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:400px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u9811 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9811_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9812_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u9812 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:14px;
  width:98px;
  height:16px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u9812 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9812_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u9813 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:40px;
  width:800px;
  height:1px;
  display:flex;
  transition:none;
}
#u9813 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9813_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:801px;
  height:2px;
}
#u9813_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9814 {
  border-width:0px;
  position:absolute;
  left:764px;
  top:14px;
  width:16px;
  height:16px;
  display:flex;
  transition:none;
}
#u9814 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9814_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u9814_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9815_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u9815 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:351px;
  width:800px;
  height:50px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u9815 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9815_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9816 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9817_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
  background:inherit;
  background-color:rgba(188, 188, 188, 1);
  border-radius:2px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
}
#u9817 {
  border-width:0px;
  position:absolute;
  left:630px;
  top:361px;
  width:70px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
}
#u9817 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9817_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9818_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
  background:inherit;
  background-color:rgba(24, 144, 255, 1);
  border-radius:2px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
}
#u9818 {
  border-width:0px;
  position:absolute;
  left:710px;
  top:361px;
  width:70px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
}
#u9818 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9818_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9819_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  color:#000000;
}
#u9819 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:241px;
  width:52px;
  height:14px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
  color:#000000;
}
#u9819 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9819_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u9820_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  color:#000000;
}
#u9820 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:71px;
  width:52px;
  height:14px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
  color:#000000;
}
#u9820 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9820_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u9821 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9822_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u9822 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:231px;
  width:100px;
  height:100px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u9822 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9822_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9823 {
  border-width:0px;
  position:absolute;
  left:84px;
  top:249px;
  width:88px;
  height:66px;
  display:flex;
  transition:none;
}
#u9823 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9823_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:66px;
}
#u9823_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9824 {
  border-width:0px;
  position:absolute;
  left:163px;
  top:220px;
  width:26px;
  height:26px;
  display:flex;
  transition:none;
}
#u9824 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9824_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u9824_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9825_input {
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:150px;
  padding:10px 10px 10px 10px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
  resize:none;
}
#u9825_input.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:150px;
  padding:10px 10px 10px 10px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
  resize:none;
}
#u9825_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:150px;
  padding:10px 10px 10px 10px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
  resize:none;
}
#u9825_input.hint.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:150px;
  padding:10px 10px 10px 10px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
  resize:none;
}
#u9825_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:150px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u9825 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:61px;
  width:700px;
  height:150px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u9825 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u9825_div.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:150px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u9825.hint {
}
#u9825_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:150px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u9825.disabled {
}
#u9825_div.hint.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:150px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u9825.hint.disabled {
}
#u9826 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9827_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u9827 {
  border-width:0px;
  position:absolute;
  left:188px;
  top:231px;
  width:100px;
  height:100px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u9827 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9827_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9828 {
  border-width:0px;
  position:absolute;
  left:209px;
  top:252px;
  width:59px;
  height:59px;
  display:flex;
  transition:none;
}
#u9828 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9828_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:59px;
}
#u9828_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
