body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1920px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u10119 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:880px;
}
#u10119_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:880px;
}
#u10119_ref {
  border-width:0px;
  position:absolute;
  left:1912px;
  top:870px;
  width:1px;
  height:1px;
}
#u10120_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:880px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.4980392156862745);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u10120 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:880px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u10120 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10120_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10121 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10122_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:208px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
}
#u10122 {
  border-width:0px;
  position:absolute;
  left:773px;
  top:336px;
  width:374px;
  height:208px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u10122 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10122_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10123 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10124_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:28px;
  background:inherit;
  background-color:rgba(22, 93, 255, 1);
  border-radius:2px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  line-height:14px;
}
#u10124 {
  border-width:0px;
  position:absolute;
  left:966px;
  top:491px;
  width:60px;
  height:28px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  line-height:14px;
}
#u10124 .text {
  position:absolute;
  align-self:center;
  padding:7px 16px 7px 16px;
  box-sizing:border-box;
  width:100%;
}
#u10124_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10125_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:28px;
  background:inherit;
  background-color:rgba(242, 243, 245, 1);
  border-radius:2px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#1D2129;
  line-height:14px;
}
#u10125 {
  border-width:0px;
  position:absolute;
  left:893px;
  top:491px;
  width:60px;
  height:28px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#1D2129;
  line-height:14px;
}
#u10125 .text {
  position:absolute;
  align-self:center;
  padding:7px 16px 7px 16px;
  box-sizing:border-box;
  width:100%;
}
#u10125_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10126 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10127_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:14px;
  line-height:14px;
}
#u10127 {
  border-width:0px;
  position:absolute;
  left:946px;
  top:365px;
  width:56px;
  height:14px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:14px;
  line-height:14px;
}
#u10127 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10127_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10128 {
  border-width:0px;
  position:absolute;
  left:918px;
  top:362px;
  width:20px;
  height:20px;
  display:flex;
  transition:none;
}
#u10128 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10128_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u10128_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10129_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:14px;
  line-height:22px;
}
#u10129 {
  border-width:0px;
  position:absolute;
  left:805px;
  top:398px;
  width:310px;
  height:44px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:14px;
  line-height:22px;
}
#u10129 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10129_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
