body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1920px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u19729 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:900px;
}
#u19729_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:900px;
}
#u19729_ref {
  border-width:0px;
  position:absolute;
  left:1912px;
  top:890px;
  width:1px;
  height:1px;
}
#u19730_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:900px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.4980392156862745);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u19730 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:900px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u19730 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19730_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u19731 {
  position:absolute;
  left:780px;
  top:370px;
}
#u19731_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:360px;
  height:160px;
  background-image:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19731_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u19732_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:160px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.996078431372549);
  border-radius:6px;
  filter:drop-shadow(none);
  transition:none;
}
#u19732 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:160px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u19732 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19732_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u19733 {
  border-width:0px;
  position:absolute;
  left:324px;
  top:17px;
  width:16px;
  height:16px;
  display:flex;
  transition:none;
}
#u19733 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19733_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u19733_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u19734_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:#000000;
  line-height:12px;
}
#u19734 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:17px;
  width:98px;
  height:12px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#000000;
  line-height:12px;
}
#u19734 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u19734_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u19735 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19736 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:109px;
  width:360px;
  height:1px;
  display:flex;
  transition:none;
}
#u19736 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19736_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:2px;
}
#u19736_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u19737_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border-radius:3px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  line-height:12px;
}
#u19737 {
  border-width:0px;
  position:absolute;
  left:260px;
  top:120px;
  width:80px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
  line-height:12px;
}
#u19737 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19737_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19738_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:3px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  color:#555555;
  line-height:12px;
}
#u19738 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:120px;
  width:80px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
  color:#555555;
  line-height:12px;
}
#u19738 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19738_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19739 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19740 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19741_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 243, 245, 1);
  border-radius:2px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  color:#86909C;
  text-align:left;
  line-height:12px;
}
#u19741 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:49px;
  width:320px;
  height:40px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
  color:#86909C;
  text-align:left;
  line-height:12px;
}
#u19741 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 5px 10px;
  box-sizing:border-box;
  width:100%;
}
#u19741_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19742 {
  border-width:0px;
  position:absolute;
  left:318px;
  top:63px;
  width:12px;
  height:12px;
  display:flex;
  transition:none;
}
#u19742 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19742_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u19742_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u19743 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19744 {
  position:absolute;
  left:20px;
  top:99px;
}
#u19744_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:320px;
  height:152px;
  background-image:none;
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(229, 230, 235, 1);
  border-radius:4px;
  -moz-box-shadow:0px 4px 10px rgba(0, 0, 0, 0.09803921568627451);
  -webkit-box-shadow:0px 4px 10px rgba(0, 0, 0, 0.09803921568627451);
  box-shadow:0px 4px 10px rgba(0, 0, 0, 0.09803921568627451);
  overflow:hidden;
}
#u19744_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u19744_state0_content {
  left:-1px;
  top:-1px;
}
#u19745_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  color:#1D2129;
  text-align:left;
  line-height:22px;
}
#u19745 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:320px;
  height:36px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
  color:#1D2129;
  text-align:left;
  line-height:22px;
}
#u19745 .text {
  position:absolute;
  align-self:center;
  padding:7px 36px 7px 36px;
  box-sizing:border-box;
  width:100%;
}
#u19745_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19746_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  color:#1D2129;
  text-align:left;
  line-height:22px;
}
#u19746 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:40px;
  width:320px;
  height:36px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
  color:#1D2129;
  text-align:left;
  line-height:22px;
}
#u19746 .text {
  position:absolute;
  align-self:center;
  padding:7px 36px 7px 36px;
  box-sizing:border-box;
  width:100%;
}
#u19746_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19747_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  color:#1D2129;
  text-align:left;
  line-height:22px;
}
#u19747 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:76px;
  width:320px;
  height:36px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
  color:#1D2129;
  text-align:left;
  line-height:22px;
}
#u19747 .text {
  position:absolute;
  align-self:center;
  padding:7px 36px 7px 36px;
  box-sizing:border-box;
  width:100%;
}
#u19747_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19748_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:4px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
}
#u19748 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:4px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u19748 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19748_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u19749_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:4px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
}
#u19749 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:148px;
  width:320px;
  height:4px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u19749 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19749_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u19750_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  color:#1D2129;
  text-align:left;
  line-height:22px;
}
#u19750 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:112px;
  width:320px;
  height:36px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
  color:#1D2129;
  text-align:left;
  line-height:22px;
}
#u19750 .text {
  position:absolute;
  align-self:center;
  padding:7px 36px 7px 36px;
  box-sizing:border-box;
  width:100%;
}
#u19750_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19751 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:14px;
  width:16px;
  height:16px;
  display:flex;
  transition:none;
}
#u19751 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19751_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u19751_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u19752 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:50px;
  width:16px;
  height:16px;
  display:flex;
  transition:none;
}
#u19752 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19752_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u19752_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u19753 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:86px;
  width:16px;
  height:16px;
  display:flex;
  transition:none;
}
#u19753 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19753_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u19753_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u19754 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:122px;
  width:16px;
  height:16px;
  display:flex;
  transition:none;
}
#u19754 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19754_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u19754_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u19755 {
  border-width:0px;
  position:absolute;
  left:298px;
  top:16px;
  width:12px;
  height:12px;
  display:flex;
  transition:none;
}
#u19755 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19755_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u19755_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u19756 {
  border-width:0px;
  position:absolute;
  left:298px;
  top:52px;
  width:12px;
  height:12px;
  display:flex;
  transition:none;
}
#u19756 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19756_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u19756_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u19757 {
  border-width:0px;
  position:absolute;
  left:298px;
  top:88px;
  width:12px;
  height:12px;
  display:flex;
  transition:none;
}
#u19757 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19757_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u19757_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u19758 {
  border-width:0px;
  position:absolute;
  left:298px;
  top:124px;
  width:12px;
  height:12px;
  display:flex;
  transition:none;
}
#u19758 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19758_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u19758_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
