body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1920px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u19339 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:900px;
}
#u19339_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:900px;
}
#u19339_ref {
  border-width:0px;
  position:absolute;
  left:1912px;
  top:890px;
  width:1px;
  height:1px;
}
#u19340_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:900px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.4980392156862745);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u19340 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:900px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u19340 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19340_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u19341 {
  position:absolute;
  left:780px;
  top:370px;
}
#u19341_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:360px;
  height:160px;
  background-image:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19341_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u19342_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:160px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.996078431372549);
  border-radius:6px;
  filter:drop-shadow(none);
  transition:none;
}
#u19342 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:160px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u19342 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19342_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u19343 {
  border-width:0px;
  position:absolute;
  left:324px;
  top:17px;
  width:16px;
  height:16px;
  display:flex;
  transition:none;
}
#u19343 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19343_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u19343_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u19344_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:#000000;
  line-height:12px;
}
#u19344 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:17px;
  width:98px;
  height:12px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#000000;
  line-height:12px;
}
#u19344 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u19344_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u19345 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19346 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:109px;
  width:360px;
  height:1px;
  display:flex;
  transition:none;
}
#u19346 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19346_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:2px;
}
#u19346_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u19347_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border-radius:3px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  line-height:12px;
}
#u19347 {
  border-width:0px;
  position:absolute;
  left:260px;
  top:120px;
  width:80px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
  line-height:12px;
}
#u19347 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19347_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19348_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:3px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  color:#555555;
  line-height:12px;
}
#u19348 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:120px;
  width:80px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
  color:#555555;
  line-height:12px;
}
#u19348 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19348_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19349 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19350 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19351_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 243, 245, 1);
  border-radius:2px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  color:#86909C;
  text-align:left;
  line-height:12px;
}
#u19351 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:49px;
  width:320px;
  height:40px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
  color:#86909C;
  text-align:left;
  line-height:12px;
}
#u19351 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 5px 10px;
  box-sizing:border-box;
  width:100%;
}
#u19351_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19352 {
  border-width:0px;
  position:absolute;
  left:318px;
  top:63px;
  width:12px;
  height:12px;
  display:flex;
  transition:none;
}
#u19352 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19352_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u19352_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u19353 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19354 {
  position:absolute;
  left:20px;
  top:99px;
}
#u19354_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:320px;
  height:152px;
  background-image:none;
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(229, 230, 235, 1);
  border-radius:4px;
  -moz-box-shadow:0px 4px 10px rgba(0, 0, 0, 0.09803921568627451);
  -webkit-box-shadow:0px 4px 10px rgba(0, 0, 0, 0.09803921568627451);
  box-shadow:0px 4px 10px rgba(0, 0, 0, 0.09803921568627451);
  overflow:hidden;
}
#u19354_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u19354_state0_content {
  left:-1px;
  top:-1px;
}
#u19355_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  color:#1D2129;
  text-align:left;
  line-height:22px;
}
#u19355 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:320px;
  height:36px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
  color:#1D2129;
  text-align:left;
  line-height:22px;
}
#u19355 .text {
  position:absolute;
  align-self:center;
  padding:7px 36px 7px 36px;
  box-sizing:border-box;
  width:100%;
}
#u19355_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19356_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  color:#1D2129;
  text-align:left;
  line-height:22px;
}
#u19356 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:40px;
  width:320px;
  height:36px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
  color:#1D2129;
  text-align:left;
  line-height:22px;
}
#u19356 .text {
  position:absolute;
  align-self:center;
  padding:7px 36px 7px 36px;
  box-sizing:border-box;
  width:100%;
}
#u19356_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19357_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  color:#1D2129;
  text-align:left;
  line-height:22px;
}
#u19357 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:76px;
  width:320px;
  height:36px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
  color:#1D2129;
  text-align:left;
  line-height:22px;
}
#u19357 .text {
  position:absolute;
  align-self:center;
  padding:7px 36px 7px 36px;
  box-sizing:border-box;
  width:100%;
}
#u19357_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19358_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:4px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
}
#u19358 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:4px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u19358 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19358_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u19359_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:4px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
}
#u19359 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:148px;
  width:320px;
  height:4px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u19359 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19359_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u19360_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  color:#1D2129;
  text-align:left;
  line-height:22px;
}
#u19360 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:112px;
  width:320px;
  height:36px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
  color:#1D2129;
  text-align:left;
  line-height:22px;
}
#u19360 .text {
  position:absolute;
  align-self:center;
  padding:7px 36px 7px 36px;
  box-sizing:border-box;
  width:100%;
}
#u19360_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19361 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:14px;
  width:16px;
  height:16px;
  display:flex;
  transition:none;
}
#u19361 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19361_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u19361_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u19362 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:50px;
  width:16px;
  height:16px;
  display:flex;
  transition:none;
}
#u19362 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19362_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u19362_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u19363 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:86px;
  width:16px;
  height:16px;
  display:flex;
  transition:none;
}
#u19363 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19363_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u19363_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u19364 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:122px;
  width:16px;
  height:16px;
  display:flex;
  transition:none;
}
#u19364 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19364_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u19364_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u19365 {
  border-width:0px;
  position:absolute;
  left:298px;
  top:16px;
  width:12px;
  height:12px;
  display:flex;
  transition:none;
}
#u19365 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19365_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u19365_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u19366 {
  border-width:0px;
  position:absolute;
  left:298px;
  top:52px;
  width:12px;
  height:12px;
  display:flex;
  transition:none;
}
#u19366 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19366_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u19366_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u19367 {
  border-width:0px;
  position:absolute;
  left:298px;
  top:88px;
  width:12px;
  height:12px;
  display:flex;
  transition:none;
}
#u19367 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19367_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u19367_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u19368 {
  border-width:0px;
  position:absolute;
  left:298px;
  top:124px;
  width:12px;
  height:12px;
  display:flex;
  transition:none;
}
#u19368 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19368_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u19368_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
