body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1920px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u19328 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:900px;
}
#u19328_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:900px;
}
#u19328_ref {
  border-width:0px;
  position:absolute;
  left:1912px;
  top:890px;
  width:1px;
  height:1px;
}
#u19329_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:900px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.4980392156862745);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u19329 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:900px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u19329 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19329_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u19330 {
  position:absolute;
  left:780px;
  top:370px;
}
#u19330_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:360px;
  height:160px;
  background-image:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19330_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u19331_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:160px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.996078431372549);
  border-radius:6px;
  filter:drop-shadow(none);
  transition:none;
}
#u19331 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:160px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u19331 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19331_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u19332 {
  border-width:0px;
  position:absolute;
  left:324px;
  top:17px;
  width:16px;
  height:16px;
  display:flex;
  transition:none;
}
#u19332 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19332_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u19332_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u19333_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:#000000;
  line-height:12px;
}
#u19333 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:17px;
  width:98px;
  height:12px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#000000;
  line-height:12px;
}
#u19333 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u19333_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u19334 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19335 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:109px;
  width:360px;
  height:1px;
  display:flex;
  transition:none;
}
#u19335 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19335_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:2px;
}
#u19335_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u19336_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border-radius:3px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  line-height:12px;
}
#u19336 {
  border-width:0px;
  position:absolute;
  left:260px;
  top:120px;
  width:80px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
  line-height:12px;
}
#u19336 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19336_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19337_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:3px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  color:#555555;
  line-height:12px;
}
#u19337 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:120px;
  width:80px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
  color:#555555;
  line-height:12px;
}
#u19337 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19337_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19338 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19339 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19340_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 243, 245, 1);
  border-radius:2px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  color:#86909C;
  text-align:left;
  line-height:12px;
}
#u19340 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:49px;
  width:320px;
  height:40px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
  color:#86909C;
  text-align:left;
  line-height:12px;
}
#u19340 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 5px 10px;
  box-sizing:border-box;
  width:100%;
}
#u19340_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19341 {
  border-width:0px;
  position:absolute;
  left:318px;
  top:63px;
  width:12px;
  height:12px;
  display:flex;
  transition:none;
}
#u19341 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19341_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u19341_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u19342 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19343 {
  position:absolute;
  left:20px;
  top:99px;
}
#u19343_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:320px;
  height:152px;
  background-image:none;
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(229, 230, 235, 1);
  border-radius:4px;
  -moz-box-shadow:0px 4px 10px rgba(0, 0, 0, 0.09803921568627451);
  -webkit-box-shadow:0px 4px 10px rgba(0, 0, 0, 0.09803921568627451);
  box-shadow:0px 4px 10px rgba(0, 0, 0, 0.09803921568627451);
  overflow:hidden;
}
#u19343_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u19343_state0_content {
  left:-1px;
  top:-1px;
}
#u19344_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  color:#1D2129;
  text-align:left;
  line-height:22px;
}
#u19344 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:320px;
  height:36px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
  color:#1D2129;
  text-align:left;
  line-height:22px;
}
#u19344 .text {
  position:absolute;
  align-self:center;
  padding:7px 36px 7px 36px;
  box-sizing:border-box;
  width:100%;
}
#u19344_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19345_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  color:#1D2129;
  text-align:left;
  line-height:22px;
}
#u19345 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:40px;
  width:320px;
  height:36px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
  color:#1D2129;
  text-align:left;
  line-height:22px;
}
#u19345 .text {
  position:absolute;
  align-self:center;
  padding:7px 36px 7px 36px;
  box-sizing:border-box;
  width:100%;
}
#u19345_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19346_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  color:#1D2129;
  text-align:left;
  line-height:22px;
}
#u19346 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:76px;
  width:320px;
  height:36px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
  color:#1D2129;
  text-align:left;
  line-height:22px;
}
#u19346 .text {
  position:absolute;
  align-self:center;
  padding:7px 36px 7px 36px;
  box-sizing:border-box;
  width:100%;
}
#u19346_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19347_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:4px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
}
#u19347 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:4px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u19347 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19347_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u19348_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:4px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
}
#u19348 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:148px;
  width:320px;
  height:4px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u19348 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19348_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u19349_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  color:#1D2129;
  text-align:left;
  line-height:22px;
}
#u19349 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:112px;
  width:320px;
  height:36px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
  color:#1D2129;
  text-align:left;
  line-height:22px;
}
#u19349 .text {
  position:absolute;
  align-self:center;
  padding:7px 36px 7px 36px;
  box-sizing:border-box;
  width:100%;
}
#u19349_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19350 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:14px;
  width:16px;
  height:16px;
  display:flex;
  transition:none;
}
#u19350 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19350_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u19350_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u19351 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:50px;
  width:16px;
  height:16px;
  display:flex;
  transition:none;
}
#u19351 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19351_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u19351_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u19352 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:86px;
  width:16px;
  height:16px;
  display:flex;
  transition:none;
}
#u19352 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19352_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u19352_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u19353 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:122px;
  width:16px;
  height:16px;
  display:flex;
  transition:none;
}
#u19353 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19353_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u19353_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u19354 {
  border-width:0px;
  position:absolute;
  left:298px;
  top:16px;
  width:12px;
  height:12px;
  display:flex;
  transition:none;
}
#u19354 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19354_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u19354_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u19355 {
  border-width:0px;
  position:absolute;
  left:298px;
  top:52px;
  width:12px;
  height:12px;
  display:flex;
  transition:none;
}
#u19355 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19355_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u19355_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u19356 {
  border-width:0px;
  position:absolute;
  left:298px;
  top:88px;
  width:12px;
  height:12px;
  display:flex;
  transition:none;
}
#u19356 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19356_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u19356_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u19357 {
  border-width:0px;
  position:absolute;
  left:298px;
  top:124px;
  width:12px;
  height:12px;
  display:flex;
  transition:none;
}
#u19357 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19357_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u19357_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
