body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1920px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u10625 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:900px;
}
#u10625_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:900px;
}
#u10625_ref {
  border-width:0px;
  position:absolute;
  left:1912px;
  top:890px;
  width:1px;
  height:1px;
}
#u10626_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:900px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.4980392156862745);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u10626 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:900px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u10626 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10626_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10627 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10628_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:610px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u10628 {
  border-width:0px;
  position:absolute;
  left:660px;
  top:145px;
  width:600px;
  height:610px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u10628 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10628_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10629_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u10629 {
  border-width:0px;
  position:absolute;
  left:680px;
  top:163px;
  width:77px;
  height:18px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u10629 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10629_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10630 {
  border-width:0px;
  position:absolute;
  left:660px;
  top:195px;
  width:600px;
  height:1px;
  display:flex;
  transition:none;
}
#u10630 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10630_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:601px;
  height:2px;
}
#u10630_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10631 {
  border-width:0px;
  position:absolute;
  left:1234px;
  top:164px;
  width:16px;
  height:16px;
  display:flex;
  transition:none;
}
#u10631 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10631_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u10631_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10632_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:100px;
  background:inherit;
  background-color:rgba(60, 60, 60, 0.4980392156862745);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
}
#u10632 {
  border-width:0px;
  position:absolute;
  left:1245px;
  top:203px;
  width:10px;
  height:100px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u10632 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10632_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10633 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10634 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10635 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10636_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u10636 {
  border-width:0px;
  position:absolute;
  left:736px;
  top:719px;
  width:24px;
  height:24px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u10636 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10636_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10637 {
  border-width:0px;
  position:absolute;
  left:742px;
  top:725px;
  width:12px;
  height:12px;
  display:flex;
  transition:none;
}
#u10637 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10637_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u10637_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10638 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10639_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
  background:inherit;
  background-color:rgba(232, 243, 255, 1);
  border-radius:2px;
  filter:drop-shadow(none);
  transition:none;
}
#u10639 {
  border-width:0px;
  position:absolute;
  left:768px;
  top:719px;
  width:24px;
  height:24px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u10639 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10639_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10640_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:2px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'Nunito Sans', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#165DFF;
  line-height:20px;
}
#u10640 {
  border-width:0px;
  position:absolute;
  left:774px;
  top:721px;
  width:12px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'Nunito Sans', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#165DFF;
  line-height:20px;
}
#u10640 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10640_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10641 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10642_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u10642 {
  border-width:0px;
  position:absolute;
  left:1024px;
  top:719px;
  width:24px;
  height:24px;
  display:flex;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  transition:none;
  transform-origin:50% 50%;
}
#u10642 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10642_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10643 {
  border-width:0px;
  position:absolute;
  left:1030px;
  top:725px;
  width:12px;
  height:12px;
  display:flex;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  transition:none;
}
#u10643 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10643_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u10643_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10644 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10645_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
  background:inherit;
  background-color:rgba(232, 243, 255, 0);
  border-radius:2px;
  filter:drop-shadow(none);
  transition:none;
}
#u10645 {
  border-width:0px;
  position:absolute;
  left:800px;
  top:719px;
  width:24px;
  height:24px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u10645 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10645_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10646_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:2px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'Nunito Sans', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1D2129;
  line-height:20px;
}
#u10646 {
  border-width:0px;
  position:absolute;
  left:806px;
  top:721px;
  width:12px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'Nunito Sans', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1D2129;
  line-height:20px;
}
#u10646 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10646_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10647 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10648_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
  background:inherit;
  background-color:rgba(232, 243, 255, 0);
  border-radius:2px;
  filter:drop-shadow(none);
  transition:none;
}
#u10648 {
  border-width:0px;
  position:absolute;
  left:832px;
  top:719px;
  width:24px;
  height:24px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u10648 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10648_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10649_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:2px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'Nunito Sans', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1D2129;
  line-height:20px;
}
#u10649 {
  border-width:0px;
  position:absolute;
  left:838px;
  top:721px;
  width:12px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'Nunito Sans', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1D2129;
  line-height:20px;
}
#u10649 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10649_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10650 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10651_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
  background:inherit;
  background-color:rgba(232, 243, 255, 0);
  border-radius:2px;
  filter:drop-shadow(none);
  transition:none;
}
#u10651 {
  border-width:0px;
  position:absolute;
  left:864px;
  top:719px;
  width:24px;
  height:24px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u10651 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10651_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10652_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:2px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'Nunito Sans', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1D2129;
  line-height:20px;
}
#u10652 {
  border-width:0px;
  position:absolute;
  left:870px;
  top:721px;
  width:12px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'Nunito Sans', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1D2129;
  line-height:20px;
}
#u10652 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10652_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10653 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10654_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
  background:inherit;
  background-color:rgba(232, 243, 255, 0);
  border-radius:2px;
  filter:drop-shadow(none);
  transition:none;
}
#u10654 {
  border-width:0px;
  position:absolute;
  left:896px;
  top:719px;
  width:24px;
  height:24px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u10654 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10654_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10655_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:2px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'Nunito Sans', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1D2129;
  line-height:20px;
}
#u10655 {
  border-width:0px;
  position:absolute;
  left:902px;
  top:721px;
  width:12px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'Nunito Sans', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1D2129;
  line-height:20px;
}
#u10655 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10655_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10656 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10657_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
  background:inherit;
  background-color:rgba(232, 243, 255, 0);
  border-radius:2px;
  filter:drop-shadow(none);
  transition:none;
}
#u10657 {
  border-width:0px;
  position:absolute;
  left:928px;
  top:719px;
  width:24px;
  height:24px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u10657 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10657_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10658_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:2px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'Nunito Sans', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1D2129;
  line-height:20px;
}
#u10658 {
  border-width:0px;
  position:absolute;
  left:934px;
  top:721px;
  width:12px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'Nunito Sans', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1D2129;
  line-height:20px;
}
#u10658 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10658_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10659 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10660_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
  background:inherit;
  background-color:rgba(232, 243, 255, 0);
  border-radius:2px;
  filter:drop-shadow(none);
  transition:none;
}
#u10660 {
  border-width:0px;
  position:absolute;
  left:960px;
  top:719px;
  width:24px;
  height:24px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u10660 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10660_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10661_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:2px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'Nunito Sans', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1D2129;
  line-height:20px;
}
#u10661 {
  border-width:0px;
  position:absolute;
  left:966px;
  top:721px;
  width:12px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'Nunito Sans', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1D2129;
  line-height:20px;
}
#u10661 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10661_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10662 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10663_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
  background:inherit;
  background-color:rgba(232, 243, 255, 0);
  border-radius:2px;
  filter:drop-shadow(none);
  transition:none;
}
#u10663 {
  border-width:0px;
  position:absolute;
  left:992px;
  top:719px;
  width:24px;
  height:24px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u10663 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10663_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10664_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:2px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'Nunito Sans', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1D2129;
  line-height:20px;
}
#u10664 {
  border-width:0px;
  position:absolute;
  left:998px;
  top:721px;
  width:12px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'Nunito Sans', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1D2129;
  line-height:20px;
}
#u10664 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10664_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10665_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:#1D2129;
  line-height:20px;
}
#u10665 {
  border-width:0px;
  position:absolute;
  left:674px;
  top:719px;
  width:54px;
  height:24px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#1D2129;
  line-height:20px;
}
#u10665 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10665_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10666 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10667_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:24px;
  background:inherit;
  background-color:rgba(242, 243, 245, 1);
  border-radius:2px;
  filter:drop-shadow(none);
  transition:none;
  font-size:14px;
  line-height:22px;
}
#u10667 {
  border-width:0px;
  position:absolute;
  left:1056px;
  top:719px;
  width:96px;
  height:24px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:14px;
  line-height:22px;
}
#u10667 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10667_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10668_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  line-height:20px;
}
#u10668 {
  border-width:0px;
  position:absolute;
  left:1064px;
  top:721px;
  width:43px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
  line-height:20px;
}
#u10668 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10668_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10669 {
  border-width:0px;
  position:absolute;
  left:1132px;
  top:725px;
  width:12px;
  height:12px;
  display:flex;
  transition:none;
}
#u10669 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10669_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u10669_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10670_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:2px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  color:#86909C;
  line-height:20px;
}
#u10670 {
  border-width:0px;
  position:absolute;
  left:1161px;
  top:721px;
  width:28px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
  color:#86909C;
  line-height:20px;
}
#u10670 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10670_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10671_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:24px;
  background:inherit;
  background-color:rgba(242, 243, 245, 1);
  border-radius:2px;
  filter:drop-shadow(none);
  transition:none;
  font-size:14px;
  line-height:22px;
}
#u10671 {
  border-width:0px;
  position:absolute;
  left:1197px;
  top:719px;
  width:40px;
  height:24px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:14px;
  line-height:22px;
}
#u10671 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10671_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10672 {
  border-width:0px;
  position:absolute;
  left:660px;
  top:709px;
  width:600px;
  height:1px;
  display:flex;
  transition:none;
}
#u10672 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10672_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:601px;
  height:2px;
}
#u10672_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10673_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border-radius:150px;
  filter:drop-shadow(none);
  transition:none;
  font-size:11px;
}
#u10673 {
  border-width:0px;
  position:absolute;
  left:670px;
  top:205px;
  width:36px;
  height:36px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:11px;
}
#u10673 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10673_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10674_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  color:#7F7F7F;
}
#u10674 {
  border-width:0px;
  position:absolute;
  left:717px;
  top:210px;
  width:59px;
  height:14px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
  color:#7F7F7F;
}
#u10674 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10674_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10675_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  color:#7F7F7F;
}
#u10675 {
  border-width:0px;
  position:absolute;
  left:717px;
  top:248px;
  width:48px;
  height:14px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
  color:#7F7F7F;
}
#u10675 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10675_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10676_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:520px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:13px;
}
#u10676 {
  border-width:0px;
  position:absolute;
  left:717px;
  top:228px;
  width:520px;
  height:15px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:13px;
}
#u10676 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10676_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10677_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border-radius:150px;
  filter:drop-shadow(none);
  transition:none;
  font-size:11px;
}
#u10677 {
  border-width:0px;
  position:absolute;
  left:717px;
  top:272px;
  width:36px;
  height:36px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:11px;
}
#u10677 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10677_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10678_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  color:#7F7F7F;
}
#u10678 {
  border-width:0px;
  position:absolute;
  left:764px;
  top:277px;
  width:151px;
  height:14px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
  color:#7F7F7F;
}
#u10678 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10678_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10679_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  color:#7F7F7F;
}
#u10679 {
  border-width:0px;
  position:absolute;
  left:764px;
  top:314px;
  width:55px;
  height:14px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
  color:#7F7F7F;
}
#u10679 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10679_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10680_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:473px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:13px;
}
#u10680 {
  border-width:0px;
  position:absolute;
  left:764px;
  top:295px;
  width:473px;
  height:15px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:13px;
}
#u10680 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10680_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10681_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border-radius:150px;
  filter:drop-shadow(none);
  transition:none;
  font-size:11px;
}
#u10681 {
  border-width:0px;
  position:absolute;
  left:717px;
  top:338px;
  width:36px;
  height:36px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:11px;
}
#u10681 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10681_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10682_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  color:#7F7F7F;
}
#u10682 {
  border-width:0px;
  position:absolute;
  left:764px;
  top:343px;
  width:151px;
  height:14px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
  color:#7F7F7F;
}
#u10682 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10682_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10683_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  color:#7F7F7F;
}
#u10683 {
  border-width:0px;
  position:absolute;
  left:764px;
  top:380px;
  width:55px;
  height:14px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
  color:#7F7F7F;
}
#u10683 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10683_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10684_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:473px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:13px;
}
#u10684 {
  border-width:0px;
  position:absolute;
  left:764px;
  top:361px;
  width:473px;
  height:15px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:13px;
}
#u10684 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10684_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10685_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border-radius:150px;
  filter:drop-shadow(none);
  transition:none;
  font-size:11px;
}
#u10685 {
  border-width:0px;
  position:absolute;
  left:670px;
  top:404px;
  width:36px;
  height:36px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:11px;
}
#u10685 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10685_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10686_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  color:#7F7F7F;
}
#u10686 {
  border-width:0px;
  position:absolute;
  left:717px;
  top:409px;
  width:59px;
  height:14px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
  color:#7F7F7F;
}
#u10686 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10686_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10687_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  color:#7F7F7F;
}
#u10687 {
  border-width:0px;
  position:absolute;
  left:717px;
  top:447px;
  width:48px;
  height:14px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
  color:#7F7F7F;
}
#u10687 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10687_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10688_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:520px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:13px;
}
#u10688 {
  border-width:0px;
  position:absolute;
  left:717px;
  top:427px;
  width:520px;
  height:15px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:13px;
}
#u10688 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10688_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10689_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border-radius:150px;
  filter:drop-shadow(none);
  transition:none;
  font-size:11px;
}
#u10689 {
  border-width:0px;
  position:absolute;
  left:717px;
  top:471px;
  width:36px;
  height:36px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:11px;
}
#u10689 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10689_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10690_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  color:#7F7F7F;
}
#u10690 {
  border-width:0px;
  position:absolute;
  left:764px;
  top:476px;
  width:151px;
  height:14px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
  color:#7F7F7F;
}
#u10690 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10690_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10691_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  color:#7F7F7F;
}
#u10691 {
  border-width:0px;
  position:absolute;
  left:764px;
  top:513px;
  width:55px;
  height:14px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
  color:#7F7F7F;
}
#u10691 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10691_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10692_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:473px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:13px;
}
#u10692 {
  border-width:0px;
  position:absolute;
  left:764px;
  top:494px;
  width:473px;
  height:15px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:13px;
}
#u10692 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10692_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10693_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border-radius:150px;
  filter:drop-shadow(none);
  transition:none;
  font-size:11px;
}
#u10693 {
  border-width:0px;
  position:absolute;
  left:670px;
  top:537px;
  width:36px;
  height:36px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:11px;
}
#u10693 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10693_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10694_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  color:#7F7F7F;
}
#u10694 {
  border-width:0px;
  position:absolute;
  left:717px;
  top:542px;
  width:59px;
  height:14px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
  color:#7F7F7F;
}
#u10694 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10694_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10695_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  color:#7F7F7F;
}
#u10695 {
  border-width:0px;
  position:absolute;
  left:717px;
  top:580px;
  width:48px;
  height:14px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
  color:#7F7F7F;
}
#u10695 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10695_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10696_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:520px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:13px;
}
#u10696 {
  border-width:0px;
  position:absolute;
  left:717px;
  top:560px;
  width:520px;
  height:15px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:13px;
}
#u10696 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10696_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10697_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border-radius:150px;
  filter:drop-shadow(none);
  transition:none;
  font-size:11px;
}
#u10697 {
  border-width:0px;
  position:absolute;
  left:670px;
  top:604px;
  width:36px;
  height:36px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:11px;
}
#u10697 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10697_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10698_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  color:#7F7F7F;
}
#u10698 {
  border-width:0px;
  position:absolute;
  left:717px;
  top:609px;
  width:59px;
  height:14px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
  color:#7F7F7F;
}
#u10698 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10698_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10699_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  color:#7F7F7F;
}
#u10699 {
  border-width:0px;
  position:absolute;
  left:717px;
  top:647px;
  width:48px;
  height:14px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
  color:#7F7F7F;
}
#u10699 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10699_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10700_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:520px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:13px;
}
#u10700 {
  border-width:0px;
  position:absolute;
  left:717px;
  top:627px;
  width:520px;
  height:15px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:13px;
}
#u10700 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10700_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
