body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1920px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u19575 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:900px;
}
#u19575_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:900px;
}
#u19575_ref {
  border-width:0px;
  position:absolute;
  left:1912px;
  top:890px;
  width:1px;
  height:1px;
}
#u19576_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:900px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.4980392156862745);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u19576 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:900px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u19576 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19576_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u19577 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19578_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:208px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
}
#u19578 {
  border-width:0px;
  position:absolute;
  left:773px;
  top:346px;
  width:374px;
  height:208px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u19578 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19578_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u19579 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19580_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:28px;
  background:inherit;
  background-color:rgba(22, 93, 255, 1);
  border-radius:2px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  line-height:14px;
}
#u19580 {
  border-width:0px;
  position:absolute;
  left:966px;
  top:501px;
  width:60px;
  height:28px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  line-height:14px;
}
#u19580 .text {
  position:absolute;
  align-self:center;
  padding:7px 16px 7px 16px;
  box-sizing:border-box;
  width:100%;
}
#u19580_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u19581_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:28px;
  background:inherit;
  background-color:rgba(242, 243, 245, 1);
  border-radius:2px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#1D2129;
  line-height:14px;
}
#u19581 {
  border-width:0px;
  position:absolute;
  left:893px;
  top:501px;
  width:60px;
  height:28px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#1D2129;
  line-height:14px;
}
#u19581 .text {
  position:absolute;
  align-self:center;
  padding:7px 16px 7px 16px;
  box-sizing:border-box;
  width:100%;
}
#u19581_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u19582 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19583_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:14px;
  line-height:14px;
}
#u19583 {
  border-width:0px;
  position:absolute;
  left:946px;
  top:375px;
  width:56px;
  height:14px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:14px;
  line-height:14px;
}
#u19583 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u19583_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u19584 {
  border-width:0px;
  position:absolute;
  left:918px;
  top:372px;
  width:20px;
  height:20px;
  display:flex;
  transition:none;
}
#u19584 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19584_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u19584_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u19585_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:14px;
  line-height:22px;
}
#u19585 {
  border-width:0px;
  position:absolute;
  left:805px;
  top:418px;
  width:310px;
  height:22px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:14px;
  line-height:22px;
}
#u19585 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u19585_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
