body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1920px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u19559 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:900px;
}
#u19559_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:900px;
}
#u19559_ref {
  border-width:0px;
  position:absolute;
  left:1912px;
  top:890px;
  width:1px;
  height:1px;
}
#u19560_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:900px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.4980392156862745);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u19560 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:900px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u19560 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19560_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u19561 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19562_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:208px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
}
#u19562 {
  border-width:0px;
  position:absolute;
  left:773px;
  top:346px;
  width:374px;
  height:208px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u19562 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19562_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u19563 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19564_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:28px;
  background:inherit;
  background-color:rgba(22, 93, 255, 1);
  border-radius:2px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  line-height:14px;
}
#u19564 {
  border-width:0px;
  position:absolute;
  left:966px;
  top:501px;
  width:60px;
  height:28px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  line-height:14px;
}
#u19564 .text {
  position:absolute;
  align-self:center;
  padding:7px 16px 7px 16px;
  box-sizing:border-box;
  width:100%;
}
#u19564_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u19565_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:28px;
  background:inherit;
  background-color:rgba(242, 243, 245, 1);
  border-radius:2px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#1D2129;
  line-height:14px;
}
#u19565 {
  border-width:0px;
  position:absolute;
  left:893px;
  top:501px;
  width:60px;
  height:28px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#1D2129;
  line-height:14px;
}
#u19565 .text {
  position:absolute;
  align-self:center;
  padding:7px 16px 7px 16px;
  box-sizing:border-box;
  width:100%;
}
#u19565_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u19566 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19567_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:14px;
  line-height:14px;
}
#u19567 {
  border-width:0px;
  position:absolute;
  left:946px;
  top:375px;
  width:56px;
  height:14px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:14px;
  line-height:14px;
}
#u19567 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u19567_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u19568 {
  border-width:0px;
  position:absolute;
  left:918px;
  top:372px;
  width:20px;
  height:20px;
  display:flex;
  transition:none;
}
#u19568 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19568_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u19568_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u19569_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:14px;
  line-height:22px;
}
#u19569 {
  border-width:0px;
  position:absolute;
  left:805px;
  top:418px;
  width:310px;
  height:22px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:14px;
  line-height:22px;
}
#u19569 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u19569_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
