body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1920px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u7028 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:900px;
}
#u7028_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:900px;
}
#u7028_ref {
  border-width:0px;
  position:absolute;
  left:1912px;
  top:890px;
  width:1px;
  height:1px;
}
#u7029_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:900px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.7490196078431373);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
}
#u7029 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:900px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
}
#u7029 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7029_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7030 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7031 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7032_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1320px;
  height:650px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u7032 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:125px;
  width:1320px;
  height:650px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u7032 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7032_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7033_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u7033 {
  border-width:0px;
  position:absolute;
  left:320px;
  top:143px;
  width:32px;
  height:18px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u7033 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7033_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7034 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:175px;
  width:1320px;
  height:1px;
  display:flex;
  transition:none;
}
#u7034 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7034_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1321px;
  height:2px;
}
#u7034_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7035 {
  border-width:0px;
  position:absolute;
  left:1584px;
  top:144px;
  width:16px;
  height:16px;
  display:flex;
  transition:none;
}
#u7035 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7035_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u7035_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7036_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:13px;
  line-height:13px;
}
#u7036 {
  border-width:0px;
  position:absolute;
  left:364px;
  top:440px;
  width:65px;
  height:13px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:13px;
  line-height:13px;
}
#u7036 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7036_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7037 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7038 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7039 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7040 {
  border-width:0px;
  position:absolute;
  left:320px;
  top:222px;
  width:1280px;
  height:1px;
  display:flex;
  transition:none;
}
#u7040 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7040_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1281px;
  height:2px;
}
#u7040_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7041 {
  border-width:0px;
  position:absolute;
  left:548px;
  top:222px;
  width:60px;
  height:1px;
  display:flex;
  transition:none;
}
#u7041 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7041_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:2px;
}
#u7041_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7042_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:14px;
  color:#000000;
  line-height:16px;
}
#u7042 {
  border-width:0px;
  position:absolute;
  left:320px;
  top:196px;
  width:98px;
  height:16px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:14px;
  color:#000000;
  line-height:16px;
}
#u7042 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7042_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7043_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:14px;
  color:#000000;
  line-height:16px;
}
#u7043 {
  border-width:0px;
  position:absolute;
  left:458px;
  top:196px;
  width:56px;
  height:16px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:14px;
  color:#000000;
  line-height:16px;
}
#u7043 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7043_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7044_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#000000;
  line-height:16px;
}
#u7044 {
  border-width:0px;
  position:absolute;
  left:548px;
  top:196px;
  width:56px;
  height:16px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#000000;
  line-height:16px;
}
#u7044 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7044_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7045_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
}
#u7045 {
  border-width:0px;
  position:absolute;
  left:320px;
  top:232px;
  width:80px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u7045 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7045_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7046_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:30px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u7046 {
  border-width:0px;
  position:absolute;
  left:320px;
  top:273px;
  width:1280px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u7046 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7046_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7047_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u7047 {
  border-width:0px;
  position:absolute;
  left:320px;
  top:303px;
  width:1280px;
  height:50px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u7047 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7047_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7048_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 0, 255, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
}
#u7048 {
  border-width:0px;
  position:absolute;
  left:1520px;
  top:233px;
  width:80px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u7048 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7048_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7049_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(229, 230, 235, 1);
  border-radius:2px;
  filter:drop-shadow(none);
  transition:none;
}
#u7049 {
  border-width:0px;
  position:absolute;
  left:330px;
  top:281px;
  width:14px;
  height:14px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u7049 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7049_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7050_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(229, 230, 235, 1);
  border-radius:2px;
  filter:drop-shadow(none);
  transition:none;
}
#u7050 {
  border-width:0px;
  position:absolute;
  left:330px;
  top:321px;
  width:14px;
  height:14px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u7050 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7050_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7051_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:13px;
  line-height:13px;
}
#u7051 {
  border-width:0px;
  position:absolute;
  left:673px;
  top:322px;
  width:138px;
  height:13px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:13px;
  line-height:13px;
}
#u7051 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7051_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7052_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:13px;
  line-height:13px;
}
#u7052 {
  border-width:0px;
  position:absolute;
  left:677px;
  top:282px;
  width:52px;
  height:13px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:13px;
  line-height:13px;
}
#u7052 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7052_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7053_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:13px;
  line-height:13px;
}
#u7053 {
  border-width:0px;
  position:absolute;
  left:364px;
  top:322px;
  width:84px;
  height:13px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:13px;
  line-height:13px;
}
#u7053 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7053_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7054_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:13px;
  line-height:13px;
}
#u7054 {
  border-width:0px;
  position:absolute;
  left:1037px;
  top:282px;
  width:26px;
  height:13px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:13px;
  line-height:13px;
}
#u7054 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7054_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7055_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:13px;
  line-height:13px;
}
#u7055 {
  border-width:0px;
  position:absolute;
  left:1037px;
  top:322px;
  width:273px;
  height:13px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:13px;
  line-height:13px;
}
#u7055 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7055_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7056_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:13px;
  line-height:13px;
}
#u7056 {
  border-width:0px;
  position:absolute;
  left:1514px;
  top:282px;
  width:26px;
  height:13px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:13px;
  line-height:13px;
}
#u7056 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7056_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7057_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:13px;
  color:#0000FF;
  line-height:13px;
}
#u7057 {
  border-width:0px;
  position:absolute;
  left:1514px;
  top:322px;
  width:67px;
  height:13px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:13px;
  color:#0000FF;
  line-height:13px;
}
#u7057 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7057_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7058_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u7058 {
  border-width:0px;
  position:absolute;
  left:320px;
  top:353px;
  width:1280px;
  height:50px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u7058 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7058_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7059_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(229, 230, 235, 1);
  border-radius:2px;
  filter:drop-shadow(none);
  transition:none;
}
#u7059 {
  border-width:0px;
  position:absolute;
  left:330px;
  top:371px;
  width:14px;
  height:14px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u7059 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7059_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7060_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:13px;
  line-height:13px;
}
#u7060 {
  border-width:0px;
  position:absolute;
  left:673px;
  top:372px;
  width:138px;
  height:13px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:13px;
  line-height:13px;
}
#u7060 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7060_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7061_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:13px;
  line-height:13px;
}
#u7061 {
  border-width:0px;
  position:absolute;
  left:364px;
  top:372px;
  width:84px;
  height:13px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:13px;
  line-height:13px;
}
#u7061 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7061_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7062_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:13px;
  line-height:13px;
}
#u7062 {
  border-width:0px;
  position:absolute;
  left:1037px;
  top:372px;
  width:273px;
  height:13px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:13px;
  line-height:13px;
}
#u7062 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7062_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7063_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:13px;
  color:#0000FF;
  line-height:13px;
}
#u7063 {
  border-width:0px;
  position:absolute;
  left:1514px;
  top:372px;
  width:67px;
  height:13px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:13px;
  color:#0000FF;
  line-height:13px;
}
#u7063 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7063_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7064_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u7064 {
  border-width:0px;
  position:absolute;
  left:320px;
  top:403px;
  width:1280px;
  height:50px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u7064 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7064_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7065_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(229, 230, 235, 1);
  border-radius:2px;
  filter:drop-shadow(none);
  transition:none;
}
#u7065 {
  border-width:0px;
  position:absolute;
  left:330px;
  top:421px;
  width:14px;
  height:14px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u7065 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7065_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7066_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:13px;
  line-height:13px;
}
#u7066 {
  border-width:0px;
  position:absolute;
  left:673px;
  top:422px;
  width:138px;
  height:13px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:13px;
  line-height:13px;
}
#u7066 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7066_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7067_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:13px;
  line-height:13px;
}
#u7067 {
  border-width:0px;
  position:absolute;
  left:364px;
  top:422px;
  width:84px;
  height:13px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:13px;
  line-height:13px;
}
#u7067 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7067_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7068_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:13px;
  line-height:13px;
}
#u7068 {
  border-width:0px;
  position:absolute;
  left:1037px;
  top:422px;
  width:273px;
  height:13px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:13px;
  line-height:13px;
}
#u7068 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7068_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7069_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:13px;
  color:#0000FF;
  line-height:13px;
}
#u7069 {
  border-width:0px;
  position:absolute;
  left:1514px;
  top:422px;
  width:67px;
  height:13px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:13px;
  color:#0000FF;
  line-height:13px;
}
#u7069 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7069_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7070_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u7070 {
  border-width:0px;
  position:absolute;
  left:320px;
  top:453px;
  width:1280px;
  height:50px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u7070 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7070_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7071_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(229, 230, 235, 1);
  border-radius:2px;
  filter:drop-shadow(none);
  transition:none;
}
#u7071 {
  border-width:0px;
  position:absolute;
  left:330px;
  top:471px;
  width:14px;
  height:14px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u7071 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7071_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7072_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:13px;
  line-height:13px;
}
#u7072 {
  border-width:0px;
  position:absolute;
  left:673px;
  top:472px;
  width:138px;
  height:13px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:13px;
  line-height:13px;
}
#u7072 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7072_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7073_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:13px;
  line-height:13px;
}
#u7073 {
  border-width:0px;
  position:absolute;
  left:364px;
  top:472px;
  width:84px;
  height:13px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:13px;
  line-height:13px;
}
#u7073 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7073_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7074_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:13px;
  line-height:13px;
}
#u7074 {
  border-width:0px;
  position:absolute;
  left:1037px;
  top:472px;
  width:273px;
  height:13px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:13px;
  line-height:13px;
}
#u7074 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7074_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7075_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:13px;
  color:#0000FF;
  line-height:13px;
}
#u7075 {
  border-width:0px;
  position:absolute;
  left:1514px;
  top:472px;
  width:67px;
  height:13px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:13px;
  color:#0000FF;
  line-height:13px;
}
#u7075 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7075_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7076 {
  border-width:0px;
  position:absolute;
  left:1548px;
  top:303px;
  width:44px;
  height:188px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u7077 {
  position:absolute;
  left:0px;
  top:0px;
  visibility:hidden;
}
#u7077_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:1920px;
  height:900px;
  background-image:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7077_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u7078_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:900px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.7490196078431373);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
}
#u7078 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:900px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
}
#u7078 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7078_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7079 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7080_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:410px;
  height:500px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:6px;
  filter:drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.34901960784313724));
  transition:none;
}
#u7080 {
  border-width:0px;
  position:absolute;
  left:755px;
  top:200px;
  width:410px;
  height:500px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u7080 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7080_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7081_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:30px;
  background:inherit;
  background-color:rgba(24, 144, 255, 1);
  border-radius:3px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
}
#u7081 {
  border-width:0px;
  position:absolute;
  left:965px;
  top:648px;
  width:180px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
}
#u7081 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7081_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7082 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7083_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:3px;
  filter:drop-shadow(none);
  transition:none;
}
#u7083 {
  border-width:0px;
  position:absolute;
  left:775px;
  top:275px;
  width:160px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u7083 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7083_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7084_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:13px;
  color:#555555;
  line-height:13px;
}
#u7084 {
  border-width:0px;
  position:absolute;
  left:828px;
  top:284px;
  width:55px;
  height:13px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:13px;
  color:#555555;
  line-height:13px;
}
#u7084 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7084_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7085 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7086_input {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:30px;
  padding:2px 2px 2px 10px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#7F7F7F;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u7086_input.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:30px;
  padding:2px 2px 2px 10px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u7086_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:30px;
  padding:2px 2px 2px 10px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#7F7F7F;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u7086_input.hint.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:30px;
  padding:2px 2px 2px 10px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u7086_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:3px;
  filter:drop-shadow(none);
  transition:none;
}
#u7086 {
  border-width:0px;
  position:absolute;
  left:775px;
  top:348px;
  width:370px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u7086 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u7086_div.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:3px;
  filter:drop-shadow(none);
  transition:none;
}
#u7086.hint {
}
#u7086_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:30px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:3px;
  filter:drop-shadow(none);
  transition:none;
}
#u7086.disabled {
}
#u7086_div.hint.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:30px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:3px;
  filter:drop-shadow(none);
  transition:none;
}
#u7086.hint.disabled {
}
#u7087_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:13px;
  line-height:13px;
}
#u7087 {
  border-width:0px;
  position:absolute;
  left:775px;
  top:325px;
  width:65px;
  height:13px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:13px;
  line-height:13px;
}
#u7087 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7087_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7088_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:13px;
  line-height:13px;
}
#u7088 {
  border-width:0px;
  position:absolute;
  left:775px;
  top:252px;
  width:78px;
  height:13px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:13px;
  line-height:13px;
}
#u7088 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7088_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7089 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7090_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:13px;
  color:#555555;
  line-height:13px;
}
#u7090 {
  border-width:0px;
  position:absolute;
  left:956px;
  top:284px;
  width:9px;
  height:13px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:13px;
  color:#555555;
  line-height:13px;
}
#u7090 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7090_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7091_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:13px;
  line-height:13px;
}
#u7091 {
  border-width:0px;
  position:absolute;
  left:775px;
  top:398px;
  width:39px;
  height:13px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:13px;
  line-height:13px;
}
#u7091 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7091_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7092_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:3px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  text-align:left;
}
#u7092 {
  border-width:0px;
  position:absolute;
  left:775px;
  top:421px;
  width:370px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  text-align:left;
}
#u7092 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u7092_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7093_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-top:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  text-align:left;
}
#u7093 {
  border-width:0px;
  position:absolute;
  left:775px;
  top:451px;
  width:370px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  text-align:left;
}
#u7093 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u7093_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7094_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-top:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  text-align:left;
}
#u7094 {
  border-width:0px;
  position:absolute;
  left:775px;
  top:481px;
  width:370px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  text-align:left;
}
#u7094 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u7094_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7095_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-top:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  text-align:left;
}
#u7095 {
  border-width:0px;
  position:absolute;
  left:775px;
  top:511px;
  width:370px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  text-align:left;
}
#u7095 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u7095_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7096_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-top:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  text-align:left;
}
#u7096 {
  border-width:0px;
  position:absolute;
  left:775px;
  top:541px;
  width:370px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  text-align:left;
}
#u7096 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u7096_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7097_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-top:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  text-align:left;
}
#u7097 {
  border-width:0px;
  position:absolute;
  left:775px;
  top:571px;
  width:370px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  text-align:left;
}
#u7097 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u7097_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7098_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-top:0px;
  border-radius:3px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  text-align:left;
}
#u7098 {
  border-width:0px;
  position:absolute;
  left:775px;
  top:601px;
  width:370px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  text-align:left;
}
#u7098 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u7098_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7099 {
  border-width:0px;
  position:absolute;
  left:1112px;
  top:458px;
  width:16px;
  height:16px;
  display:flex;
  transition:none;
}
#u7099 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7099_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u7099_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7100 {
  border-width:0px;
  position:absolute;
  left:1112px;
  top:488px;
  width:16px;
  height:16px;
  display:flex;
  transition:none;
}
#u7100 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7100_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u7100_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7101 {
  border-width:0px;
  position:absolute;
  left:1112px;
  top:518px;
  width:16px;
  height:16px;
  display:flex;
  transition:none;
}
#u7101 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7101_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u7101_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7102 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7103_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:3px;
  filter:drop-shadow(none);
  transition:none;
}
#u7103 {
  border-width:0px;
  position:absolute;
  left:985px;
  top:275px;
  width:160px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u7103 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7103_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7104_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:13px;
  color:#555555;
  line-height:13px;
}
#u7104 {
  border-width:0px;
  position:absolute;
  left:1038px;
  top:284px;
  width:55px;
  height:13px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:13px;
  color:#555555;
  line-height:13px;
}
#u7104 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7104_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7105_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  line-height:16px;
}
#u7105 {
  border-width:0px;
  position:absolute;
  left:775px;
  top:218px;
  width:64px;
  height:16px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  line-height:16px;
}
#u7105 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7105_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7106_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:3px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  color:#000000;
}
#u7106 {
  border-width:0px;
  position:absolute;
  left:775px;
  top:648px;
  width:180px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
  color:#000000;
}
#u7106 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7106_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7107 {
  border-width:0px;
  position:absolute;
  left:1125px;
  top:216px;
  width:20px;
  height:20px;
  display:flex;
  transition:none;
}
#u7107 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7107_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u7107_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7108 {
  position:absolute;
  left:0px;
  top:0px;
  visibility:hidden;
}
#u7108_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:1920px;
  height:900px;
  background-image:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7108_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u7109_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:900px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.7490196078431373);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
}
#u7109 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:900px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
}
#u7109 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7109_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7110 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7111_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:6px;
  filter:drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.34901960784313724));
  transition:none;
}
#u7111 {
  border-width:0px;
  position:absolute;
  left:795px;
  top:365px;
  width:330px;
  height:170px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u7111 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7111_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7112_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
  background:inherit;
  background-color:rgba(24, 144, 255, 1);
  border-radius:3px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
}
#u7112 {
  border-width:0px;
  position:absolute;
  left:965px;
  top:483px;
  width:140px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
}
#u7112 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7112_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7113_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:13px;
  line-height:13px;
}
#u7113 {
  border-width:0px;
  position:absolute;
  left:815px;
  top:437px;
  width:130px;
  height:13px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:13px;
  line-height:13px;
}
#u7113 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7113_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7114_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  line-height:16px;
}
#u7114 {
  border-width:0px;
  position:absolute;
  left:815px;
  top:383px;
  width:64px;
  height:16px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  line-height:16px;
}
#u7114 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7114_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7115_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:3px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  color:#000000;
}
#u7115 {
  border-width:0px;
  position:absolute;
  left:815px;
  top:483px;
  width:140px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
  color:#000000;
}
#u7115 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7115_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7116 {
  border-width:0px;
  position:absolute;
  left:1085px;
  top:381px;
  width:20px;
  height:20px;
  display:flex;
  transition:none;
}
#u7116 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7116_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u7116_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
