body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1920px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u11139 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:900px;
}
#u11139_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:900px;
}
#u11139_ref {
  border-width:0px;
  position:absolute;
  left:1912px;
  top:890px;
  width:1px;
  height:1px;
}
#u11140_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  text-align:right;
}
#u11140 {
  border-width:0px;
  position:absolute;
  left:1109px;
  top:359px;
  width:31px;
  height:14px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
  text-align:right;
}
#u11140 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11140_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u11141_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  text-align:right;
}
#u11141 {
  border-width:0px;
  position:absolute;
  left:1128px;
  top:539px;
  width:12px;
  height:14px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
  text-align:right;
}
#u11141 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11141_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u11142_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:900px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.7490196078431373);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
}
#u11142 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:900px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
}
#u11142 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11142_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u11143 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11144_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:208px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
}
#u11144 {
  border-width:0px;
  position:absolute;
  left:773px;
  top:346px;
  width:374px;
  height:208px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u11144 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11144_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u11145 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11146_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:36px;
  background:inherit;
  background-color:rgba(22, 93, 255, 1);
  border-radius:2px;
  filter:drop-shadow(none);
  transition:none;
  color:#FFFFFF;
  line-height:22px;
}
#u11146 {
  border-width:0px;
  position:absolute;
  left:967px;
  top:486px;
  width:60px;
  height:36px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#FFFFFF;
  line-height:22px;
}
#u11146 .text {
  position:absolute;
  align-self:center;
  padding:7px 16px 7px 16px;
  box-sizing:border-box;
  width:100%;
}
#u11146_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u11147_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:36px;
  background:inherit;
  background-color:rgba(242, 243, 245, 1);
  border-radius:2px;
  filter:drop-shadow(none);
  transition:none;
  color:#1D2129;
  line-height:22px;
}
#u11147 {
  border-width:0px;
  position:absolute;
  left:894px;
  top:486px;
  width:60px;
  height:36px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#1D2129;
  line-height:22px;
}
#u11147 .text {
  position:absolute;
  align-self:center;
  padding:7px 16px 7px 16px;
  box-sizing:border-box;
  width:100%;
}
#u11147_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u11148 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11149_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"微软雅黑", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:14px;
}
#u11149 {
  border-width:0px;
  position:absolute;
  left:934px;
  top:375px;
  width:70px;
  height:14px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"微软雅黑", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:14px;
}
#u11149 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11149_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u11150 {
  border-width:0px;
  position:absolute;
  left:906px;
  top:372px;
  width:20px;
  height:20px;
  display:flex;
  transition:none;
}
#u11150 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11150_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u11150_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u11151_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"微软雅黑", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:20px;
}
#u11151 {
  border-width:0px;
  position:absolute;
  left:805px;
  top:430px;
  width:310px;
  height:40px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"微软雅黑", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:20px;
}
#u11151 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11151_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
