.ax_default {
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#333333;
  vertical-align:none;
  text-align:center;
  line-height:normal;
  text-transform:none;
}
._交互效果 {
  color:#000000;
}
._获取焦点效果 {
  color:#FFFFFF;
}
._菜单面包效果 {
  color:#FACD91;
}
._图片_ {
}
.placeholder {
}
._一级标题 {
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
._二级标题 {
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
._三级标题 {
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
._四级标题 {
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
._五级标题 {
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  text-align:left;
}
._六级标题 {
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:10px;
  text-align:left;
}
._文本段落 {
  text-align:left;
}
.line {
}
.text_area {
  color:#000000;
  text-align:left;
}
._表单提示 {
  color:#999999;
}
._表单禁用 {
}
._流程形状 {
}
._连接 {
}
.snapshot {
}
.form_hint {
  color:#999999;
}
.form_disabled {
}
.flow_shape {
  font-size:12px;
}
.label {
  font-size:14px;
  text-align:left;
}
.icon {
}
.box_1 {
  font-size:12px;
}
.ellipse {
}
._图片 {
}
.box_2 {
}
.box_3 {
}
._左侧一级分类样式 {
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
._左侧二级分类样式 {
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
.primary_button {
  color:#FFFFFF;
}
.link_button {
  color:#169BD5;
}
.button {
}
.table_cell {
  font-size:12px;
  line-height:12px;
}
.droplist {
  font-size:12px;
  color:#7F7F7F;
  text-align:left;
  line-height:12px;
}
.checkbox {
  text-align:left;
}
.form_disabled1 {
}
.text_field {
  font-size:12px;
  color:#7F7F7F;
  text-align:left;
  line-height:12px;
}
.form_hint1 {
  color:#999999;
}
.text_area1 {
  font-size:12px;
  color:#7F7F7F;
  text-align:left;
  line-height:24px;
}
._输入框获取焦点后 {
  color:#333333;
}
.shape {
}
.image {
}
._正文-常规-中 {
  font-family:'PingFang SC Medium', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
._辅助文案 {
  font-family:'PingFang SC Medium', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
.paragraph {
  text-align:left;
}
.line1 {
}
.shape1 {
}
._正文-常规-中1 {
  font-family:'PingFang SC Medium', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
._形状 {
}
textarea, select, input, button, div, svg { outline: none; }
