body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1920px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u13696 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:900px;
}
#u13696_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:900px;
}
#u13696_ref {
  border-width:0px;
  position:absolute;
  left:1912px;
  top:890px;
  width:1px;
  height:1px;
}
#u13697_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:900px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.4980392156862745);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u13697 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:900px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u13697 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13697_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13698 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13699_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:680px;
  height:440px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u13699 {
  border-width:0px;
  position:absolute;
  left:620px;
  top:230px;
  width:680px;
  height:440px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u13699 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13699_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13700_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:680px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u13700 {
  border-width:0px;
  position:absolute;
  left:620px;
  top:230px;
  width:680px;
  height:50px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u13700 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13700_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13701_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u13701 {
  border-width:0px;
  position:absolute;
  left:640px;
  top:246px;
  width:96px;
  height:18px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u13701 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13701_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13702 {
  border-width:0px;
  position:absolute;
  left:1264px;
  top:247px;
  width:16px;
  height:16px;
  display:flex;
  transition:none;
}
#u13702 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13702_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u13702_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13703_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
}
#u13703 {
  border-width:0px;
  position:absolute;
  left:640px;
  top:467px;
  width:65px;
  height:14px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
}
#u13703 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13703_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13704_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
  padding:2px 2px 2px 10px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#7F7F7F;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u13704_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
  padding:2px 2px 2px 10px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#7F7F7F;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u13704_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:14px;
  color:#7F7F7F;
}
#u13704 {
  border-width:0px;
  position:absolute;
  left:740px;
  top:459px;
  width:200px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:14px;
  color:#7F7F7F;
}
#u13704 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u13704_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:14px;
  color:#7F7F7F;
}
#u13704.disabled {
}
.u13704_input_option {
  font-size:14px;
}
#u13705_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
}
#u13705 {
  border-width:0px;
  position:absolute;
  left:640px;
  top:318px;
  width:65px;
  height:14px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
}
#u13705 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13705_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13706_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
}
#u13706 {
  border-width:0px;
  position:absolute;
  left:640px;
  top:370px;
  width:65px;
  height:14px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
}
#u13706 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13706_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13707_input {
  position:absolute;
  left:0px;
  top:0px;
  width:540px;
  height:30px;
  padding:2px 2px 2px 10px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#7F7F7F;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u13707_input.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:540px;
  height:30px;
  padding:2px 2px 2px 10px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u13707_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:540px;
  height:30px;
  padding:2px 2px 2px 10px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#7F7F7F;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u13707_input.hint.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:540px;
  height:30px;
  padding:2px 2px 2px 10px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u13707_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:540px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  color:#7F7F7F;
}
#u13707 {
  border-width:0px;
  position:absolute;
  left:740px;
  top:310px;
  width:540px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
  color:#7F7F7F;
}
#u13707 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u13707_div.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:540px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  color:#7F7F7F;
}
#u13707.hint {
}
#u13707_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:540px;
  height:30px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  color:#7F7F7F;
}
#u13707.disabled {
}
#u13707_div.hint.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:540px;
  height:30px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  color:#7F7F7F;
}
#u13707.hint.disabled {
}
#u13708_input {
  position:absolute;
  left:0px;
  top:0px;
  width:540px;
  height:80px;
  padding:10px 2px 2px 10px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#7F7F7F;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
  resize:none;
}
#u13708_input.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:540px;
  height:80px;
  padding:10px 2px 2px 10px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
  resize:none;
}
#u13708_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:540px;
  height:80px;
  padding:10px 2px 2px 10px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#7F7F7F;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
  resize:none;
}
#u13708_input.hint.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:540px;
  height:80px;
  padding:10px 2px 2px 10px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
  resize:none;
}
#u13708_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:540px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:#7F7F7F;
}
#u13708 {
  border-width:0px;
  position:absolute;
  left:740px;
  top:360px;
  width:540px;
  height:80px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#7F7F7F;
}
#u13708 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u13708_div.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:540px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:#7F7F7F;
}
#u13708.hint {
}
#u13708_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:540px;
  height:80px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:#7F7F7F;
}
#u13708.disabled {
}
#u13708_div.hint.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:540px;
  height:80px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:#7F7F7F;
}
#u13708.hint.disabled {
}
#u13709 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13710_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:680px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u13710 {
  border-width:0px;
  position:absolute;
  left:620px;
  top:621px;
  width:680px;
  height:50px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u13710 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13710_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13711 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13712_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
  background:inherit;
  background-color:rgba(24, 144, 255, 1);
  border-radius:2px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
}
#u13712 {
  border-width:0px;
  position:absolute;
  left:1210px;
  top:631px;
  width:70px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
}
#u13712 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13712_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13713_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
  background:inherit;
  background-color:rgba(188, 188, 188, 1);
  border-radius:2px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
}
#u13713 {
  border-width:0px;
  position:absolute;
  left:1130px;
  top:631px;
  width:70px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
}
#u13713 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13713_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13714_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
}
#u13714 {
  border-width:0px;
  position:absolute;
  left:640px;
  top:517px;
  width:41px;
  height:14px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
}
#u13714 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13714_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13715_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:20px;
}
#u13715 {
  border-width:0px;
  position:absolute;
  left:740px;
  top:509px;
  width:80px;
  height:80px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:20px;
}
#u13715 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13715_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
